* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  color: $text-color;
  margin: 0;
  background: $bg-color;
}

.page {
  height: calc(100vh - $navigation);
  overflow: scroll;
  min-height: 100vh;
  &.page-full {
    height: 100vh;
    .page-wrapper {
      height: 100vh;
    }
  }
  &.page-basic {
    margin-bottom: 48px;
    .page-basic-content {
      margin: 0 $page-x-gap;
      h3 {
        font-size: 24px;
        font-weight: 500;
        margin: 10px 0;
        color: $text-color;
      }
      span {
        font-size: 14px;
        padding: 10px 0;
        display: block;
        color: $text-color;
      }
    }
  }

  .page-wrapper {
    // margin-top: $page-top-space;
    // height: calc(100% - $page-top-space);
    height: calc(100% - $navigation);
    overflow: scroll;
  }
}

a {
  text-decoration: none;
  color: $text-color;
}



.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

