@mixin d-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin d-between {
  display: flex;
  justify-content: space-between;
}

@mixin d-column {
  display: flex;
flex-direction: column;
}