@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

$primary: #f47575;
$dark: #212121;
$dark-2: #61677a;

$light: #f5f4ff;
$light-2: #f5f5f5;
$bg-color: #1D1321;
$grey: #dde6ed;
$text-color: #FCFCFC;
$white: #ffffff;
$black: #1a120b;
$green: #77dd77;
$pink: #f87bc3;
$red: #ff6961;
$yellow: #fccb4f;
$mint: #88d9d6;
$blue: #507dc7;



$navigation: 82px;
$radius: 12px;
$page-y-gap: 64px;
$page-x-gap: 24px;
$page-h: (2 * $page-y-gap) + $navigation;
$b-height: 60px;

$radius-small: 4px;
$radius-medium: 8px;
$radius-large: 12px;
