.access-page {
  background-color: rgb(30,39,27);
  @include d-center;
  flex-direction: column;
  height: 100vh;
}

.access-page .container {
  background-color: rgb(30,39,27);
}

.access-page-title {
  margin-top: 70px;
}

.access-page-main-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
  text-align: center;
}

.access-page-desc {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 250px;
  margin: auto;
  text-align: center;
}

.access-code-input-item {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  text-align: center;
}

.access-code-input {
  width: 31px;
  height: 40px;
  margin: 0 5px;
  text-align: center;
  font-size: 26px;
  border-radius: $radius-medium;
  background-color: #2E392C;
  text-decoration: none;
  color: $text-color;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  border: none;
}

.access-code-input-button {
  background: #29A71A;
  width: 121px;
  height: 41px;
  @include d-center;
  border-radius: $radius-medium;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
}

.access-code-input-area {
@include d-column;
  align-items: center;
}

.access-code-info-item {
  background-color: rgba(48,56,45);
  border-radius: $radius-medium;
  margin-bottom: 10px;
  display: flex;
  padding: 20px;
  align-items: center;


}

.access-code-info {
  margin-top: 100px;
}

.access-code-info-number {
  background: #4C564A;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-right: 15px;
  color: #C1C8C0;
}

.access-code-info-desc {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: #C1C8C0;
  width: 250px;


}

.access-code-buttons {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgb(30,39,27);
}

.open-wp-button {
  background: #29A71A;
  height: 48px;
  border-radius: $radius-medium;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  color: $text-color;

}

.resend-code-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin-top: 30px;
  cursor: pointer;
}
