.chats-title {
  margin-top: 30px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 34px;
}

.updates-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-top: 40px;
}



.secret-media-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-top: 40px;
}






.nav-bar-item span {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 10px;
  color: #7A6B81;
  text-align: center;
  margin-top: 7px;
}

.secret-media {
  padding-bottom: 50px;
  margin-bottom: 50px;
}