.get-contact {
@include d-column;
}
.get-contact-header {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.get-contact-name {
  @include d-column;
  text-align: center;
}

.get-contact-name .name {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 29px;
}

.get-contact-name .number {
  font-family: 'Inter', sans-serif!important;
  font-weight: 400;
  font-size: 14px!important;
  margin-top: 8px;
}

.get-contact-pic {
  text-align: center;
  margin-top: 100px;
  .profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
}

.get-contact-footer {
  background: #2E2033;
  border-radius: 30px 30px 0 0;
  height: 300px;
  margin-top: auto;

}

.get-contact-footer-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 33px;
  text-align: center;


}

.get-contact-footer-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  margin-top: 30px;


}

.get-contact-footer-content {
  margin-top: 50px;
  margin-bottom: 20px;

}
