.get-pro {
  background: linear-gradient(to right bottom, #41456A 10%, #5A0981 50%);
  height: 100vh;
  background-size: cover;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-top: 10px;
  position: fixed;
  width: 100%;
}

.get-pro-top div {
@include d-between;
  flex-direction: row;

}

.get-pro-items {
  padding-top: 40px;
  @include d-between;
  flex-direction: column;

}

.get-pro-top div span {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
}

.get-pro-close   {
  width: 18px;
  height: 18px;
  margin-top: 10px;
  cursor: pointer;
}

.get-pro-info-item span {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-left: 15px;
}

.get-pro-info-item {
  margin-bottom: 15px;
  text-align: center;

}

.purchasing-item {
  background-color: #5E2A71;
  margin-right: 10px;
  height: 139px;
  width: 100%;

}

.purchasing-options {
  @include d-between;
  flex-direction: row;
  margin-top: 70px;

  align-items: flex-end;
}

.purchasing-item-top {
  @include d-center;
  flex-direction: column;

  padding-top: 10px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.purchasing-item-top span:first-child {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
}

.purchasing-item-top span:last-child {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
}

.purchasing-item-top span:nth-child(2) {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}

.purchasing-item-bottom {
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 150%;
  @include d-center;
  margin-top: 10px;
  color: #B5A7BB;
}

.purchasing-item-border .purchasing-item {
  background-color: #7F3998!important;

  border-bottom-right-radius: $radius-medium;
  border-bottom-left-radius: $radius-medium;

}

.purchasing-item:nth-child(3)  {
  border-radius: $radius-medium;
}
.purchasing-item:first-child {
  border-radius: $radius-medium;
}


.purchasing-item-border {
  margin-right: 10px;
  height: 159px;
  width: 100%;
  @include d-column;
  justify-content: flex-end;
  background-color: $text-color;
  border-radius: $radius-medium;
  padding: 10px 4px 4px 4px;
}

.purchasing-item-border-title {
  color: #AD38E5;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 11px;
  text-align: center;
  margin-bottom: 8px;

}

.purchasing-continue-button {
  height: 48px;
  background-color: #AD38E5;
  @include d-center;
  font-size: 17px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  border-radius: $radius-medium;
  margin-top: 20px;
  cursor: pointer;
}

.get-pro-footer-left {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 13px;
}

.get-pro-footer-right {
  color: #7A6B81;
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.get-pro-footer-right span:last-child {
  margin-left: 10px;
}

.get-pro-footer {
  @include d-between;
  align-items: center;
  margin-top: 40px;
}

.get-pro-img {
  width: 100px;
  height: 100px;
  padding-top: 40px;
  margin-bottom: 50px;

}

.get-pro-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  margin-bottom: 35px;
  text-align: center;

}


.empty {
  width: 30px;
}
