.nav-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #1D1321;
}

.nav-bar-items {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.nav-bar-item {
@include d-center;
  flex-direction: column;

  cursor: pointer;
}

.nav-bar-item span {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 10px;
  color: #7A6B81;
  text-align: center;
  margin-top: 7px;
}

.active {
  color: #AD38E5!important;
}