.picture-details {
  background-color: black!important;
  height: 100vh!important;
}

.picture-details-top {
  margin-top: 50px;
}

.picture-details-top-items {
@include d-between;
  align-items: center;
}

.top-name {
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.top-info {
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #646464;
  margin-top: 5px;
}

.picture-details-main-item {
  height: 70%;
}
.picture-details-main-item img {
  width: 100%;
  margin-top: 30px;
  object-fit: contain;

}

.picture-details-main-item video {
  width: 100%;
  margin-top: 30px;

}

.picture-details-main-item {
  display: flex;
  justify-content: center;
}

.picture-details-carousels {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
}

.carousels-items {
  display: flex!important;
  flex-direction: row!important;
  margin-top: 20px;
  justify-content: center!important;
  margin-right: 5px;
}

.carousels-item {
  position: relative;
}

.carousels-items img {

  height: 64px;
  width: 80px;
  object-fit: cover;
}

.carousels-items video {
  margin-right: 5px;
  height: 64px;
  width: 80px;
  object-fit: cover;
}

.picture-details-download-button {
  padding: 16px 12px 16px 12px;
  background: #212121;
  @include d-center;
  border-radius: $radius-medium;
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 10px;

}
::-webkit-scrollbar {
  display: none;
}

.carousels-items:first-child {
  margin-left: 5px;
}

@media screen and (max-width: 600px) {
  .picture-details-main-item img {
    width: 100%;
    margin-top: 30px;
  }

  .carousels-items {
    justify-content: flex-start;
  }
}