.picture-details-top {
  margin-top: 50px;
}

.picture-details-top-items {
 @include d-between;
  align-items: center;
}

.top-name {
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.top-info {
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #646464;
  margin-top: 5px;
}

.picture-details-main-img {
  width: 50%;
  margin-top: 30px;
  filter: blur(5px);
}

.picture-details-main-item {
  display: flex;
  justify-content: center;
}

.carousels-items {

}

.picture-details-carousels-main-img {
  margin-right: 5px;
  filter: blur(5px);
}

.picture-details-carousels-img {
  position: relative;

}

.picture-details-carousels-unlock {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #1D1321;
  opacity: 0.7;
  border-radius: 50%;
  width: 37px;
  height: 40px;
 @include d-center;
  z-index: 999;
  transform: translate(-50%, -50%);
}

.picture-details-download-buttons {
  padding: 16px 12px 16px 12px;
  background: #212121;
  opacity: 0.5;
  @include d-center;
  border-radius: $radius-medium;
  margin-top: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;
  margin-bottom: 10px;

}

::-webkit-scrollbar {
  display: none;
}

.picture-get-pro-button {
  position: absolute;
  @include d-center;
  bottom: 30px;
  border-radius: 100px;
  padding: 10px 50px 10px 50px;
  background:
          linear-gradient(to right bottom, #6F7BE4 5%, #7807AD 50%);
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 170%;
  cursor: pointer;



}




.picture-details-main-item {
  position: relative;
}

.picture-get-pro-button svg {
  width: 18px;
  height: 22px;
  margin-right: 10px;
}

.picture-details-download {
  position: relative;
}

.picture-details-download-pro {
  position: absolute;
  bottom: 20%;
  right: 10%;
  background: linear-gradient(to right bottom, #6F7BE4 5%, #7807AD 50% );
  border-radius: 100px;
  width: 50px;
  height: 20px;
@include d-center;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 12px;
  padding: 5px 8px 5px 8px;
  cursor: pointer;

}



@media screen and (max-width: 600px) {
  .picture-details-main-img {
    width: 100%;
    margin-top: 30px;
  }

  .carousels-items {
    justify-content: flex-start;
  }
}