.profile-page-top {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  align-items: center;
}
.profile-pic {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15px;
}

.profile-pic span {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 17px;
  margin-left: 10px;
}

.profile-page-bar {
  margin-top: 20px;
  background: #100A13;
  @include d-between;
  height: 38px;
  border-radius: $radius-large;
}

.active {
  background-color: #26192B;
  @include d-center;
  margin:4px;
  flex: 50%;
  height: 30px;
  border-radius: $radius-medium;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: $text-color!important;
}



.profile-page-updates {
  @include d-center;
  margin:4px;
  flex: 50%;
  height: 30px;
  border-radius: $radius-medium;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #7A6B81;
}

.profile-page-items-top {
  @include d-between;
  flex-direction: row;
  margin-top: 20px;
}

.profile-page-date {
  color: #9C8DA3;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.download-text {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-left: 6px;
}

.profile-page-download {
  display: flex;
  flex-direction: row;
}

.profile-page-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  gap: 17px;

}

.profile-page-unlock-img {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #1D1321;
  opacity: 0.7;
  border-radius: 50%;
  width: 37px;
  height: 40px;
  @include d-center;
  z-index: 999;
  transform: translate(-50%, -50%);
}

.profile-page-unlock-img svg {
  width: 17px;
  height: 20px;
}

.unlock-img {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #1D1321;
  opacity: 0.7;
  border-radius: 50%;
  width: 37px;
  height: 40px;
  @include d-center;
  z-index: 999;
  transform: translate(-50%, -50%);
}



.profile-page-content img {
  margin-top: 10px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  height: 150px;


}

.profile-page-items {
  position: relative;
}

.profile-page-content video {
  margin-top: 10px;
  width: 108px;
  height: 110px;
border-radius: 6px;
  object-fit: cover;
}

.profile-page-secret-media {
  @include d-center;
  margin:4px;
  flex: 50%;
  height: 30px;
  border-radius: $radius-medium;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: #7A6B81;
}


.profile-page-content img:nth-child(3n) {
  margin-right: 0;
}
.profile-page-content video:nth-child(3n) {
  margin-right: 0;
}
