.rate-page {
  background-image: url('../img/background-rate.png');
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-top: 10px;
  position: fixed;
  width: 100%;
}

.rate-top {
  margin-top: 50px;

}

.rate-top div {
  display: flex;
  justify-content: flex-end;
}

.gift-img {
  @include d-center;
  flex-direction: column;

  margin-top: 60px;
}

.rate-stars {
  @include d-center;
  margin-top: 60px;

}

.rate-stars img {
  cursor: pointer;
}

.rate-text {
  @include d-center;
  flex-direction: column;

  margin-top: 20px;
  margin-bottom: 20px;
}

.small-rate-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}

.big-rate-text {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 130%;
}

.limited-offer {
  @include d-center;
  flex-direction: row;

  border: 1px solid rgb(216, 192, 213);
  border-radius: 100px;
  font-size: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 130%;
  color: rgb(216, 192, 213);
  padding: 8px;
  width: 144px;
  margin: auto;
}

.limited-offer span {
  margin-left: 6px;
}

.rate-buttons {
  margin-top: 60px;
}

.rate-page-rate-button {
  @include d-center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  border-radius: $radius-medium;
  cursor: pointer;
  background: #AD38E5;
  color: $text-color;
  padding: 16px 12px 16px 12px;
}

.rate-page-decline {
  @include d-center;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;

  cursor: pointer;
  color: $text-color;
  margin-top: 20px;

}