.search-page-input input {
  background: #2E2033!important;
  color: $text-color;
  border-radius: $radius-medium;
  padding: 16px 12px 16px 40px;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  border: none;
  width: 100%;
}

.unlock-img {
  position: absolute;
  top: 25%;
  background-color: #1D1321;
  opacity: 0.7;
  border-radius: 50%;
  width: 37px;
  height: 40px;
  @include d-center;
}

.search-page-input {
  display: flex;
  position: relative;
  margin-top: 20px;
}

.search-page-input svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 15px;
  left: 13px;
  cursor: pointer;
}

.search-page-top {
  margin-top: 50px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 34px;
}

.moments-item {
@include d-column;
  align-items: center;
  margin-right: 10px;
  position: relative;
}

.moments-item span {
  margin-top: 10px;
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.moments-item img {
  filter: blur(5px);
}

.moments-items {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;


}

.unlock-img {
  position: absolute;
  top: 25%;
  background-color: #1D1321;
  opacity: 0.7;
  border-radius: 50%;
  width: 37px;
  height: 40px;
  @include d-center;
}


::-webkit-scrollbar {
  display: none;
}

.search-page-item-title{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 22px;
  margin-top: 26px;
  margin-bottom: 20px;
}







.none {
  display: none;
}

.search-page-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-page-input span {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-left: 10px;
}

.recent-searches-top {
  @include d-between;
  flex-direction: row;
  margin-top: 26px;
  margin-bottom: 20px;
}

.recent-searches-title {
  color: #9C8DA3;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.recent-searches-items {
@include d-column;
}

.recent-searches-items span {
  margin-bottom: 10px;
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.recent-searches-close {
  cursor: pointer;
}

.cancel {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

.search-page-input input::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #7A6B81;
}