.updates-items {
@include d-between;
  flex-direction: row;

  margin-top: 10px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.updates-item {
@include d-center;
  flex-direction: column;

  margin-right: 10px;
}

.updates-item span {
  margin-top: 10px;
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: $text-color;
}

.updates-item-img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  @include d-center;
}




::-webkit-scrollbar {
  display: none;
}
