.search-page-input input {
  background: #2E2033!important;
  color: $text-color;
  border-radius: $radius-medium;
  padding: 12px 16px 12px 40px;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  border: none;
  width: 100%;
}


.search-page-input {
  display: flex;
  position: relative;
  margin-top: 20px;
}

.search-page-input svg {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 11px;
  left: 13px;
  cursor: pointer;
}

.search-page-input {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-page-input span {
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-left: 10px;
}

.search-results-items-top {
@include d-between;
  flex-direction: row;

  margin-top: 30px;
  align-items: center;
}

.search-results-items-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.search-results-items-count {
  color: #7A6B81;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.search-results-item {
@include d-between;
  margin-top: 20px;
  flex-wrap: wrap;



}

.search-results-item img {
  margin-bottom: 10px;
  flex-basis: 25%;
  margin-right: 5px;

}

.search-results-item img:nth-child(3n) {
  margin-right: 0;
}

.search-page-input input::placeholder {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #7A6B81;
}