.secret-media-item {
@include d-between;
  align-items: center;
}

.secret-media-user-info {
  display: flex;
  align-items: center;

}

.secret-media-username {
  margin-left: 13px;
}

.secret-media-time {
  text-align: center;
  color: #7A6B81;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 13px;
}

.secret-media-tag {
  border-radius: 100px;
  background: #7807AD;
  padding: 5px 10px 5px 10px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  margin-top: 5px;
}

.secret-media-name {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.secret-media-item-count {
  color: #7A6B81;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin-top: 7px;
}

.secret-media-items {
  margin-top: 15px;
}
.secret-media-item {
  margin-bottom: 15px;
}

.secret-media-img img {
  width: 44px;
  height: 44px;
}