.settings-top {
  font-size: 34px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  margin-top: 30px;
}

.settings-profile-info {
  margin-top: 20px;
}

.settings-profile-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.settings-profile-name {
  margin-left: 20px;
}

.name {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
}

.number span {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin-left: 5px;
}

.number {
  display: flex;
  align-items: center;
}

.settings-get-pro {
  width: 100%;
  background: linear-gradient(to right, #6F7BE4, #7807AD 80%);
  padding-bottom: 20px;
  margin-top: 20px;
  border-radius: $radius-medium;
}

.settings-get-pro-title {
  padding-top: 20px;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.get-pro-desc {
  padding-top: 10px;
}

.get-pro-desc-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-bottom: 10px;

}

.get-pro-desc-item span {
  margin-left: 10px;
}

.get-pro-button {
  padding: 16px 12px 16px 12px;
@include d-center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 17px;
  border-radius: $radius-medium;
  margin-top: 20px;
  cursor: pointer;
  color: $text-color;
  background-color: rgba(255, 255, 255, 0.25);

}




.settings-bar {
  background: #2E2033;
  margin-top: 30px;
  border-radius: $radius-medium;

}

.settings-bar-item {
  padding-top: 20px;
  border-bottom: 1px solid #7A6B81;
  padding-bottom: 10px
}

.settings-bar-name {
  display: flex;
  align-items: center;
}

.settings-bar-name span {
  margin-left: 16px;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.settings-bar-item div {
  @include d-between;
  align-items: center;
}

.settings-bar-item:last-child {
  border-bottom: none;
  padding-bottom: 20px;
}

.log-out {
  background: #2E2033;
  margin-top: 20px;
  border-radius: $radius-medium;

}

.settings-bar-item-log-out {
  padding-top: 15px;
  padding-bottom: 15px
}

.settings-bar-item-log-out div {
  @include d-between;
  align-items: center;
}

.version-info {
  @include d-center;
  flex-direction: column;

  margin-top: 20px;
  margin-bottom: 100px;
}

.version {
  color: #7A6B81;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 15px;
}

.purchase {
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}