.content {
@include d-column
}
.header {
  display: flex;
  justify-content: center;
  height: 250px;
  align-items: flex-end;
}

.header-top-main-title span {
  color: $text-color;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
}

.header-top-main-title {
  text-align: center;
  max-width: 300px;
}
.header-top-description {
  text-align: center;
  width: 300px;
  margin: auto;
  padding-top: 10px;
}

.header-top-description span {
  color: $text-color;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
}


.welcome-number-input {
  margin-top: 50px;

}
.number-input input {
  background: #2E2033!important;
  color: $text-color;
  border-radius: $radius-medium!important;;
  margin-left: 7px;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400!important;
  font-size: 17px!important;
  border: none;
  height: 46px!important;
  width: 95%!important;


}

.number-search {
padding-bottom: 10px;
  position: sticky;
  top: 0;
  background: $bg-color;
}

.show-countries-wrapper {
  padding-top: 0px!important;
  margin-top: 10px;
}

.show-countries input {
  background: #2E2033!important;
  color: $text-color;
  border-radius: $radius-medium!important;;
  margin-left: 7px;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400!important;
  font-size: 17px!important;
  border: none;
  height: 48px!important;
}

.welcome-number-input input::placeholder {
  color: #7A6B81;
}
.vue-tel-input:focus-within {
  box-shadow: none!important;
  outline: none;
}

.flag {
  font-size: 22px;
  margin-right: 5px!important;
}

.code{
  font-family: 'Inter', sans-serif!important;
  font-weight: 400!important;
  font-size: 17px!important;
  white-space: nowrap;
}

.highlighted {
  background-color: #2E2033!important;
  opacity: 0.5;
}
.welcome-number-input div {
  border: none;
}

.number-code {
  background: #2E2033!important;
  border-radius: $radius-medium!important;
  color: $text-color!important;
  font-family: 'Inter', sans-serif;
  font-weight: 400!important;

  height: 48px!important;
}

.vti__dropdown {
  border: none;
}

.vti__dropdown-list {
  background: #2E2033;
}

.vti__dropdown-item:hover {
  background: #2E2033!important;
  opacity: 0.5!important;
}

.vti__dropdown-item {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #FFFFFF;
}


.learn-more {
  margin-top: auto;
}
.learn-more-information {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 20px;
}

.learn-more-text {
  display: flex;
  flex-direction: column;
  background-color: rgba(173, 56, 229, 0.3);
  border-radius: 12px 12px 12px 0px;
  padding: 12px 16px 12px 16px;
  color: $text-color;
  margin-left: 10px;

  gap: 10px;
}

.learn-more-text-description {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.learn-more-button {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-decoration: underline;
}

.continue-button .container .button {
@include d-center;
  background: #AD38E5;
  height: 48px;
  border-radius: $radius-medium;
  gap: 16px;

  color: $text-color;

  font-size: 17px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  cursor: pointer;




}

.continue-button .container .button:hover {
  background: #AD38E5;
  opacity: 0.5;
}

.continue-button {
  margin-top: auto;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  width: 100%;

}
