.chats-updates-items {
display: flex;

  margin-top: 10px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.updates-item {
  @include d-center;
  flex-direction: column;

  margin-right: 10px;
}

.updates-item span {
  margin-top: 10px;
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: $text-color;
  white-space: nowrap;
}

.updates-item-img {
  width: 72px;
  height: 72px;
 @include d-center;
}

.image-border {
  position: relative;
  border-radius: 50%;
  border: 2px dashed #AD38E5;
  padding: 3px;

}


.updates-item-arrow-img {
  position: absolute;
  z-index: 999;
  right: 7px;
  bottom: 3px;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 100%;

}



::-webkit-scrollbar {
  display: none;
}