<template>
<GetPro> </GetPro>
</template>

<script>

import {defineComponent} from "vue";
import GetPro from "@/components/GetPro.vue";

export default defineComponent({
  components: {GetPro}
})
</script>

<style scoped>

</style>