<template>
<div class="access-page page">
<div class="container">
  <div class="access-page-title">

    <div class="access-page-main-title">
      <span> Your access code </span>
    </div>
    <div class="access-page-desc">
      <span> Please enter the code by using your Whatsapp. </span>
    </div>
  </div>

  <div class="access-code-input-area">
    <div class="access-code-input-item" v-if="this.code">
      <div>
        <input type="text" class="access-code-input" maxlength="1" :value="this.code[0]" />
        <input type="text" class="access-code-input" maxlength="1" :value="this.code[1]"/>
        <input type="text" class="access-code-input" maxlength="1" :value="this.code[2]" />
        <input type="text" class="access-code-input" maxlength="1" :value="this.code[3]"/>
      </div>

      <div>
        <input type="text" class="access-code-input" maxlength="1" :value="this.code[4]"/>
        <input type="text" class="access-code-input" maxlength="1" :value="this.code[5]"/>
        <input type="text" class="access-code-input" maxlength="1" :value="this.code[6]" />
        <input type="text" class="access-code-input" maxlength="1" :value="this.code[7]"/>
      </div>

    </div>
    <div class="access-code-input-button">
      <span> Copy Code </span>
    </div>
  </div>

  <div class="access-code-info">
    <div class="access-code-info-item">
      <div class="access-code-info-number"> <span> 1 </span> </div>
      <div class="access-code-info-desc"> <span> Please enter the code by using your WhatsApp. </span></div>
    </div>
    <div class="access-code-info-item">
      <div class="access-code-info-number"> <span> 2 </span> </div>
      <div class="access-code-info-desc"> <span> Re-open Chatopia & get your chat media in seconds! </span></div>
    </div>
  </div>

  <div class="access-code-buttons">
    <div class="open-wp-button" @click="openWhatsapp">
      <span> {{openWhatsappText}} </span>
    </div>
   <div class="resend-code-button" @click="goCode()"> <span> Resend Code </span></div>

  </div>

</div>
</div>
</template>

<script>
import { useProdStore } from "@/store/base";
import router from "@/router/index.js";

export default {
  name: "AccessPage",
  data() {
    return {
      phoneNumber: "",
      code: "",
      openWhatsappStatus: true,
      showContinueButton: false,
      loadingMode: false,
      retryCount: 0,
    };
  },
  async created() {
    console.log("AccessPage created");

    this.phoneNumber = this.getPhoneNumber;
    this.code = this.getAccount?.code

    if(!this.phoneNumber || !this.code) {
      await router.push({ name: 'code' });
    }

    const connectDeviceResult = await useProdStore().connectDevice({
      phone_number: this.getPhoneNumber.replace('+', '')
    });

    this.code = connectDeviceResult?.code

    if (connectDeviceResult && connectDeviceResult?.connected) {
      await router.push({ name: 'home' });
    }

    if (!this.getSilentMode) {
      const maxRetries = 50;
      const retryInterval = 2000;

      const checkStatus = async () => {
        const connectDeviceResult = await useProdStore().connectDevice({
          phone_number: this.phoneNumber.replace('+', '')
        });

        if (connectDeviceResult && connectDeviceResult?.connected) {
          await router.push({ name: 'get-contact' });
        } else {
          this.retryCount++;
          if (this.retryCount <= maxRetries) {
            setTimeout(checkStatus, retryInterval);
          } else {
            console.error('Bağlantı sağlanamadı. Lütfen tekrar deneyin.');
            this.openWhatsappStatus = false
          }
        }
      };
      setTimeout(checkStatus, 15000);
    }


  },
  computed: {
    openWhatsappText() {
      return this.openWhatsappStatus ? "Open Whatsapp" : "Manual Verification";
  },
  methods: {
    goCode() {
      this.retryCount = 50;
      router.push({ name: 'code' })
    },
    async openWhatsapp() {
      if (this.openWhatsappStatus) {
         // TODO open whatsapp $reactNative
      } else {

        const connectDeviceResult = await useProdStore().connectDevice({
          phone_number: this.getPhoneNumber.replace('+', '')
        });

        if (connectDeviceResult && connectDeviceResult?.connected) {
          await router.push({ name: 'get-contact' });
        }

      }
    }

    },
  },

}
</script>

