<template>
<div class="chats-page page">
  <div class="container">
  <div class="chats-title">
    <span> Chats </span>
  </div>
    <div class="updates">
      <div class="updates-title">
        <span>Updates</span>
      </div>
      <UpdatesItem></UpdatesItem>
    </div>
    <div class="secret-media">
      <div class="secret-media-title">
        <span> Secret Media</span>
      </div>
     <SecretMedia></SecretMedia>
    </div>

    <Navbar></Navbar>
  </div>
</div>
</template>

<script>

import {defineComponent} from "vue";
import Navbar from "@/components/Navbar.vue";
import UpdatesItem from "@/components/UpdatesItem.vue";
import SecretMedia from "@/components/SecretMedia.vue";

export default defineComponent({
  components: {SecretMedia, UpdatesItem, Navbar}
})
</script>

<style lang="scss">



</style>
