<template>
  <div class="get-contact page">
    <div class="get-contact-header">
      <div class="container">
        <div class="get-contact-name" v-if="account && account?.data?.info">
          <span class="name"> {{account?.data?.info?.name}}</span>
          <span class="number">+{{account?.data?.info?.phone_number}}</span>
        </div>
      </div>
    </div>
    <div class="get-contact-pic">
      <div class="container" v-if="account && account?.data?.info && account?.data?.info?.profile_pic_url">
          <img :src="account?.data?.info?.profile_pic_url" class="profile-photo">
      </div>
    </div>
    <div class="get-contact-footer">
      <div class="container">
        <div class="get-contact-footer-content">
          <div class="get-contact-footer-title">
            <span> Getting your contact & media data...</span>
          </div>
          <div class="get-contact-footer-description">
            <span> This may take a minute. We will send you a notification when it’s done. </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useProdStore } from "@/store/base";
import router from "@/router/index.js";

export default {
  data() {
    return {
      account:'',
    };
  },
  async created() {


    let retryCount = 0;
    const maxRetries = 30;
    const retryInterval = 2000;

    const checkStatus = async () => {

      this.account = this.getAccount;

      if (!this.account) {
        return;
      }

      const connectDeviceResult = await useProdStore().connectDevice({
        phone_number: this.account?.data?.info?.phone_number
      });

      if (connectDeviceResult && connectDeviceResult?.fe_status === 'ready_blocked') {
        await router.push({ name: 'home' });
      } else {
        retryCount++;
        if (retryCount <= maxRetries) {
          setTimeout(checkStatus, retryInterval);
        } else {
          console.error('Bağlantı sağlanamadı. Lütfen tekrar deneyin.');
        }
      }
    };
    setTimeout(checkStatus, 1000);

  },
  computed: {
  },
  mounted() {
  },
  methods: {
  },

};

</script>

<style lang="scss">




</style>
