<template>
  <div class="get-pro page">
    <div class="container">
      <div class="get-pro-items">
      <div class="get-pro-top">
        <div class="container">
          <div class="empty"></div>
          <img class="get-pro-img" src="../assets/img/get-pro-icon.png">
          <router-link to="/settings">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path opacity="0.5" fill-rule="evenodd" clip-rule="evenodd" d="M16.339 3.47904C16.8411 2.97693 16.8411 2.16286 16.339 1.66075C15.8369 1.15866 15.0228 1.15866 14.5207 1.66075L8.99989 7.18161L3.47904 1.66075C2.97693 1.15866 2.16286 1.15866 1.66075 1.66075C1.15866 2.16286 1.15866 2.97693 1.66075 3.47904L7.18161 8.99989L1.66075 14.5207C1.15866 15.0228 1.15866 15.8369 1.66075 16.339C2.16286 16.8411 2.97693 16.8411 3.47904 16.339L8.99989 10.8182L14.5207 16.339C15.0228 16.8411 15.8369 16.8411 16.339 16.339C16.8411 15.8369 16.8411 15.0228 16.339 14.5207L10.8182 8.99989L16.339 3.47904Z" fill="white"/>
            </svg>

          </router-link>
        </div>
      </div>
        <div class="get-pro-wrapper">
          <div class="container">
            <div class="get-pro-info-items">
            <div class="get-pro-title">
              <p>Get Pro+ & Access
All Features </p>
            </div>
          <div class="get-pro-info">
            <div class="get-pro-info-items-wrapper">
              <div class="get-pro-info-item">
                <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.6377 0.521085C14.6501 -0.265052 13.212 -0.101635 12.4259 0.886068L6.48866 8.34569L4.2909 6.42264C3.34087 5.59137 1.89685 5.68763 1.06557 6.63767C0.234297 7.58769 0.330566 9.03171 1.28059 9.86299L4.37947 12.5745C5.85169 13.8627 8.10158 13.66 9.31981 12.1293L16.0027 3.7329C16.7888 2.7452 16.6255 1.30722 15.6377 0.521085Z" fill="#AD38E5"/>
                </svg>

                <span>Urna elementum nec massa id  </span>
              </div>
              <div class="get-pro-info-item">
                <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.6377 0.521085C14.6501 -0.265052 13.212 -0.101635 12.4259 0.886068L6.48866 8.34569L4.2909 6.42264C3.34087 5.59137 1.89685 5.68763 1.06557 6.63767C0.234297 7.58769 0.330566 9.03171 1.28059 9.86299L4.37947 12.5745C5.85169 13.8627 8.10158 13.66 9.31981 12.1293L16.0027 3.7329C16.7888 2.7452 16.6255 1.30722 15.6377 0.521085Z" fill="#AD38E5"/>
                </svg>

                <span>Sagittis at nisi commodo tempus  </span>
              </div>
              <div class="get-pro-info-item">
                <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.6377 0.521085C14.6501 -0.265052 13.212 -0.101635 12.4259 0.886068L6.48866 8.34569L4.2909 6.42264C3.34087 5.59137 1.89685 5.68763 1.06557 6.63767C0.234297 7.58769 0.330566 9.03171 1.28059 9.86299L4.37947 12.5745C5.85169 13.8627 8.10158 13.66 9.31981 12.1293L16.0027 3.7329C16.7888 2.7452 16.6255 1.30722 15.6377 0.521085Z" fill="#AD38E5"/>
                </svg>

                <span>Scelerisque turpis proin  </span>
              </div>
            </div>
          </div>
            </div>
            <div class="purchasing-options">

              <div class="purchasing-item">
                <div class="purchasing-item-top">
                  <span> 1 </span>
                  <span> Month</span>
                  <span>$4,99/week </span>
                </div>
                <div class="purchasing-item-bottom">
                  <span> $16,99/month </span>
                </div>

              </div>

              <div class="purchasing-item-border">
                <span class="purchasing-item-border-title"> HOTTEST </span>
              <div class="purchasing-item">
                <div class="purchasing-item-top">
                  <span> 6 </span>
                  <span> Months</span>
                  <span>$4,99/week </span>
                </div>
                <div class="purchasing-item-bottom">
                  <span> $16,99/month </span>
                </div>

              </div>
              </div>



              <div class="purchasing-item" @click="payment(storePackages[0].id)">
                <div class="purchasing-item-top">
                  <span> 12 </span>
                  <span> Months</span>
                  <span>$4,99/week </span>
                </div>
                <div class="purchasing-item-bottom">
                  <span> $16,99/month </span>
                </div>
              </div>
              </div>
            <div class="purchasing-continue-button"> <span> Continue</span></div>
            <div class="get-pro-footer">
              <div class="get-pro-footer-left"><span> Restore Purchases </span></div>
              <div class="get-pro-footer-right">
                <span> Privacy</span>
                <span> Terms </span>
              </div>
            </div>


          </div>
        </div>
      </div>


    </div>

  </div>
</template>

<script>
import {useProdStore} from "@/store/base.js";
import router from "@/router/index.js";

export default {
  name: "GetPro",
  data() {
    return {}
  },


  created() {

  },
  setup() {
    const storePackages = useProdStore().storePackages;
    const payment = useProdStore().payment;


    return {
      storePackages,
      payment
    };
  },

  computed: {},
  methods: {}

}
</script>

<style lang="scss">



</style>