<template>
  <div class="nav-bar">
    <div class="container">
      <div class="nav-bar-items">
        <router-link to="/" >
          <div class="nav-bar-item" :class="{ 'active': $route.path === '/' }">
            <div v-if="$route.path === '/'">
              <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8299 0.0788579C14.6117 0.0783494 16.3709 0.47725 17.9782 1.24622C19.5855 2.01519 21 3.13468 22.1176 4.52234C23.2353 5.91 24.0276 7.53054 24.4365 9.26478C24.8453 10.999 24.8601 12.8028 24.48 14.5436C24.0998 16.2843 23.3342 17.9177 22.2396 19.3236C21.145 20.7295 19.7492 21.8722 18.1548 22.6675C16.5604 23.4629 14.808 23.8907 13.0264 23.9196C11.2449 23.9484 9.47955 23.5776 7.86022 22.8343L1.91851 23.9091C1.76951 23.9358 1.61611 23.9224 1.47392 23.8706C1.33173 23.8187 1.20582 23.73 1.10899 23.6137C1.01216 23.4974 0.947859 23.3575 0.922633 23.2082C0.897406 23.059 0.912151 22.9057 0.965367 22.764L2.66937 18.228C1.56253 16.4215 0.957121 14.3527 0.915453 12.2345C0.873785 10.1163 1.39737 8.02521 2.4323 6.17658C3.46723 4.32794 4.97613 2.78851 6.80366 1.71676C8.63119 0.644996 10.7113 0.0796312 12.8299 0.0788579ZM9.4048 12C9.4048 12.4547 9.22418 12.8907 8.90269 13.2122C8.5812 13.5337 8.14517 13.7143 7.69051 13.7143C7.23585 13.7143 6.79982 13.5337 6.47833 13.2122C6.15684 12.8907 5.97622 12.4547 5.97622 12C5.97622 11.5453 6.15684 11.1093 6.47833 10.7878C6.79982 10.4663 7.23585 10.2857 7.69051 10.2857C8.14517 10.2857 8.5812 10.4663 8.90269 10.7878C9.22418 11.1093 9.4048 11.5453 9.4048 12ZM12.8334 13.7143C13.288 13.7143 13.7241 13.5337 14.0456 13.2122C14.367 12.8907 14.5477 12.4547 14.5477 12C14.5477 11.5453 14.367 11.1093 14.0456 10.7878C13.7241 10.4663 13.288 10.2857 12.8334 10.2857C12.3787 10.2857 11.9427 10.4663 11.6212 10.7878C11.2997 11.1093 11.1191 11.5453 11.1191 12C11.1191 12.4547 11.2997 12.8907 11.6212 13.2122C11.9427 13.5337 12.3787 13.7143 12.8334 13.7143ZM17.9762 13.7143C18.4309 13.7143 18.8669 13.5337 19.1884 13.2122C19.5099 12.8907 19.6905 12.4547 19.6905 12C19.6905 11.5453 19.5099 11.1093 19.1884 10.7878C18.8669 10.4663 18.4309 10.2857 17.9762 10.2857C17.5216 10.2857 17.0855 10.4663 16.764 10.7878C16.4426 11.1093 16.2619 11.5453 16.2619 12C16.2619 12.4547 16.4426 12.8907 16.764 13.2122C17.0855 13.5337 17.5216 13.7143 17.9762 13.7143Z" fill="#AD38E5"/>
              </svg>

            </div>
            <div v-else>
              <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2172_29609)">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.8299 0.0788579C14.6117 0.0783494 16.3709 0.47725 17.9782 1.24622C19.5855 2.01519 21 3.13468 22.1176 4.52234C23.2353 5.91 24.0276 7.53054 24.4365 9.26478C24.8453 10.999 24.8601 12.8028 24.48 14.5436C24.0998 16.2843 23.3342 17.9177 22.2396 19.3236C21.145 20.7295 19.7492 21.8722 18.1548 22.6675C16.5604 23.4629 14.808 23.8907 13.0264 23.9196C11.2449 23.9484 9.47955 23.5776 7.86022 22.8343L1.91851 23.9091C1.76951 23.9358 1.61611 23.9224 1.47392 23.8706C1.33173 23.8187 1.20582 23.73 1.10899 23.6137C1.01216 23.4974 0.947859 23.3575 0.922633 23.2082C0.897406 23.059 0.912151 22.9057 0.965367 22.764L2.66937 18.228C1.56253 16.4215 0.957121 14.3527 0.915453 12.2345C0.873785 10.1163 1.39737 8.02521 2.4323 6.17658C3.46723 4.32794 4.97613 2.78851 6.80366 1.71676C8.63119 0.644996 10.7113 0.0796312 12.8299 0.0788579ZM9.4048 12C9.4048 12.4547 9.22418 12.8907 8.90269 13.2122C8.5812 13.5337 8.14517 13.7143 7.69051 13.7143C7.23585 13.7143 6.79982 13.5337 6.47833 13.2122C6.15684 12.8907 5.97622 12.4547 5.97622 12C5.97622 11.5453 6.15684 11.1093 6.47833 10.7878C6.79982 10.4663 7.23585 10.2857 7.69051 10.2857C8.14517 10.2857 8.5812 10.4663 8.90269 10.7878C9.22418 11.1093 9.4048 11.5453 9.4048 12ZM12.8334 13.7143C13.288 13.7143 13.7241 13.5337 14.0456 13.2122C14.367 12.8907 14.5477 12.4547 14.5477 12C14.5477 11.5453 14.367 11.1093 14.0456 10.7878C13.7241 10.4663 13.288 10.2857 12.8334 10.2857C12.3787 10.2857 11.9427 10.4663 11.6212 10.7878C11.2997 11.1093 11.1191 11.5453 11.1191 12C11.1191 12.4547 11.2997 12.8907 11.6212 13.2122C11.9427 13.5337 12.3787 13.7143 12.8334 13.7143ZM17.9762 13.7143C18.4309 13.7143 18.8669 13.5337 19.1884 13.2122C19.5099 12.8907 19.6905 12.4547 19.6905 12C19.6905 11.5453 19.5099 11.1093 19.1884 10.7878C18.8669 10.4663 18.4309 10.2857 17.9762 10.2857C17.5216 10.2857 17.0855 10.4663 16.764 10.7878C16.4426 11.1093 16.2619 11.5453 16.2619 12C16.2619 12.4547 16.4426 12.8907 16.764 13.2122C17.0855 13.5337 17.5216 13.7143 17.9762 13.7143Z" fill="#7A6B81"/>
                </g>
                <defs>
                  <clipPath id="clip0_2172_29609">
                    <rect width="24" height="24" fill="white" transform="translate(0.833252)"/>
                  </clipPath>
                </defs>
              </svg>

            </div>
            <span :class="{ 'active': $route.path === '/' }">Chats</span>
          </div>
        </router-link>
        <router-link to="/search">
          <div class="nav-bar-item" :class="{ 'active': $route.path === '/search' }">
            <div v-if="$route.path === '/search'">
              <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.25 10.942C0.25 5.3135 4.811 0.75 10.4375 0.75C16.064 0.75 20.6245 5.3135 20.6245 10.942C20.6245 12.9275 20.057 14.781 19.075 16.348C19.2235 16.472 19.3715 16.5945 19.5195 16.717L19.525 16.722C20.342 17.3995 21.153 18.072 21.954 18.815C22.9155 19.7065 23.0485 21.0935 22.114 22.06C21.9328 22.2476 21.7484 22.4321 21.561 22.6135C20.595 23.5485 19.2085 23.416 18.3175 22.4535C17.5755 21.652 16.903 20.8405 16.226 20.023L16.223 20.019L16.222 20.018L15.855 19.5755C14.2329 20.5969 12.3544 21.1375 10.4375 21.1345C4.811 21.1345 0.25 16.571 0.25 10.942ZM10.5 17.5C14.09 17.5 17 14.59 17 11C17 7.41 14.09 4.5 10.5 4.5C6.91 4.5 4 7.41 4 11C4 14.59 6.91 17.5 10.5 17.5Z" fill="#AD38E5"/>
              </svg>

            </div>
            <div v-else>
              <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0.25 10.942C0.25 5.3135 4.811 0.75 10.4375 0.75C16.064 0.75 20.6245 5.3135 20.6245 10.942C20.6245 12.9275 20.057 14.781 19.075 16.348C19.2235 16.472 19.3715 16.5945 19.5195 16.717L19.525 16.722C20.342 17.3995 21.153 18.072 21.954 18.815C22.9155 19.7065 23.0485 21.0935 22.114 22.06C21.9328 22.2476 21.7484 22.4321 21.561 22.6135C20.595 23.5485 19.2085 23.416 18.3175 22.4535C17.5755 21.652 16.903 20.8405 16.226 20.023L16.223 20.019L16.222 20.018L15.855 19.5755C14.2329 20.5969 12.3544 21.1375 10.4375 21.1345C4.811 21.1345 0.25 16.571 0.25 10.942ZM10.5 17.5C14.09 17.5 17 14.59 17 11C17 7.41 14.09 4.5 10.5 4.5C6.91 4.5 4 7.41 4 11C4 14.59 6.91 17.5 10.5 17.5Z" fill="#7A6B81"/>
              </svg>

            </div>
            <span :class="{ 'active': $route.path === '/search' }">Search</span>
          </div>
        </router-link>
        <router-link to="/settings">
          <div class="nav-bar-item" :class="{ 'active': $route.path === '/settings' }">
            <div v-if="$route.path === '/settings'">
              <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.69277 1.18286L7.89905 3.23143L5.16648 4.78114L2.98934 4.44857C2.62626 4.39902 2.25664 4.45863 1.92755 4.61982C1.59845 4.78101 1.32477 5.03648 1.14134 5.35371L0.404197 6.64629C0.214921 6.96815 0.127687 7.33985 0.154008 7.71232C0.180328 8.08479 0.318966 8.44052 0.551625 8.73257L1.93505 10.4486V13.5514L0.589339 15.2674C0.356681 15.5595 0.218043 15.9152 0.191722 16.2877C0.165401 16.6602 0.252635 17.0318 0.441911 17.3537L1.17905 18.6463C1.36248 18.9635 1.63617 19.219 1.96526 19.3802C2.29436 19.5414 2.66397 19.601 3.02705 19.5514L5.2042 19.2189L7.90077 20.7686L8.69448 22.8189C8.82808 23.1654 9.0632 23.4636 9.36907 23.6744C9.67495 23.8851 10.0373 23.9986 10.4088 24H11.9602C12.3324 23.9992 12.6957 23.8858 13.0023 23.6746C13.3088 23.4635 13.5444 23.1646 13.6779 22.8171L14.4716 20.7686L17.1665 19.2189L19.3436 19.5514C19.7067 19.601 20.0763 19.5414 20.4054 19.3802C20.7345 19.219 21.0082 18.9635 21.1916 18.6463L21.9288 17.3537C22.118 17.0318 22.2053 16.6602 22.179 16.2877C22.1526 15.9152 22.014 15.5595 21.7813 15.2674L20.3979 13.5514V10.4486L21.7453 8.73257C21.978 8.44052 22.1166 8.08479 22.143 7.71232C22.1693 7.33985 22.082 6.96815 21.8928 6.64629L21.1556 5.35371C20.9724 5.03632 20.6987 4.78071 20.3696 4.6195C20.0404 4.45829 19.6707 4.39878 19.3076 4.44857L17.1305 4.78114L14.4339 3.23143L13.6402 1.18114C13.5063 0.834415 13.2709 0.536174 12.9647 0.325435C12.6585 0.114696 12.2959 0.00127138 11.9242 0H10.4088C10.0369 0.00140541 9.67409 0.115081 9.3679 0.326142C9.06171 0.537202 8.8264 0.835808 8.69277 1.18286ZM11.1665 15.8571C12.1895 15.8571 13.1705 15.4508 13.8939 14.7274C14.6172 14.0041 15.0236 13.023 15.0236 12C15.0236 10.977 14.6172 9.99594 13.8939 9.27259C13.1705 8.54923 12.1895 8.14286 11.1665 8.14286C10.1435 8.14286 9.16242 8.54923 8.43907 9.27259C7.71572 9.99594 7.30934 10.977 7.30934 12C7.30934 13.023 7.71572 14.0041 8.43907 14.7274C9.16242 15.4508 10.1435 15.8571 11.1665 15.8571Z" fill="#AD38E5"/>
              </svg>

            </div>
            <div v-else>
              <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M8.69277 1.18286L7.89905 3.23143L5.16648 4.78114L2.98934 4.44857C2.62626 4.39902 2.25664 4.45863 1.92755 4.61982C1.59845 4.78101 1.32477 5.03648 1.14134 5.35371L0.404197 6.64629C0.214921 6.96815 0.127687 7.33985 0.154008 7.71232C0.180328 8.08479 0.318966 8.44052 0.551625 8.73257L1.93505 10.4486V13.5514L0.589339 15.2674C0.356681 15.5595 0.218043 15.9152 0.191722 16.2877C0.165401 16.6602 0.252635 17.0318 0.441911 17.3537L1.17905 18.6463C1.36248 18.9635 1.63617 19.219 1.96526 19.3802C2.29436 19.5414 2.66397 19.601 3.02705 19.5514L5.2042 19.2189L7.90077 20.7686L8.69448 22.8189C8.82808 23.1654 9.0632 23.4636 9.36907 23.6744C9.67495 23.8851 10.0373 23.9986 10.4088 24H11.9602C12.3324 23.9992 12.6957 23.8858 13.0023 23.6746C13.3088 23.4635 13.5444 23.1646 13.6779 22.8171L14.4716 20.7686L17.1665 19.2189L19.3436 19.5514C19.7067 19.601 20.0763 19.5414 20.4054 19.3802C20.7345 19.219 21.0082 18.9635 21.1916 18.6463L21.9288 17.3537C22.118 17.0318 22.2053 16.6602 22.179 16.2877C22.1526 15.9152 22.014 15.5595 21.7813 15.2674L20.3979 13.5514V10.4486L21.7453 8.73257C21.978 8.44052 22.1166 8.08479 22.143 7.71232C22.1693 7.33985 22.082 6.96815 21.8928 6.64629L21.1556 5.35371C20.9724 5.03632 20.6987 4.78071 20.3696 4.6195C20.0404 4.45829 19.6707 4.39878 19.3076 4.44857L17.1305 4.78114L14.4339 3.23143L13.6402 1.18114C13.5063 0.834415 13.2709 0.536174 12.9647 0.325435C12.6585 0.114696 12.2959 0.00127138 11.9242 0H10.4088C10.0369 0.00140541 9.67409 0.115081 9.3679 0.326142C9.06171 0.537202 8.8264 0.835808 8.69277 1.18286ZM11.1665 15.8571C12.1895 15.8571 13.1705 15.4508 13.8939 14.7274C14.6172 14.0041 15.0236 13.023 15.0236 12C15.0236 10.977 14.6172 9.99594 13.8939 9.27259C13.1705 8.54923 12.1895 8.14286 11.1665 8.14286C10.1435 8.14286 9.16242 8.54923 8.43907 9.27259C7.71572 9.99594 7.30934 10.977 7.30934 12C7.30934 13.023 7.71572 14.0041 8.43907 14.7274C9.16242 15.4508 10.1435 15.8571 11.1665 15.8571Z" fill="#7A6B81"/>
              </svg>

            </div>
            <span :class="{ 'active': $route.path === '/settings' }">Settings</span>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Navbar",
}
</script>

<style lang="scss">

</style>
