﻿<template>
  <div>
    <div class="number-select-wrapper" v-if="selectedCountry">
      <div class="number-select">
        <div class="number-code" @click="showCountries = true">
          <span class="flag">{{ selectedCountry.flag }}</span>
          <span class="code">{{ selectedCountry.code }}</span>
          <span class="code">{{ selectedCountry.country }}</span>
          <img src="@/assets/icons/arrow-icon.svg" alt="" />
        </div>
        <div class="number-input">
          <input v-model="phone.number" type="text" class="number-input" />
        </div>
      </div>
    </div>
    <div
      class="show-countries-wrapper"
      :style="[`padding-top: 50px`]"
      v-if="showCountries"
    >
      <div class="show-countries">
        <div class="number-search">
          <input
            type="text"
            v-model="searchText"
            :placeholder="$t('Search Country')"
            @input="search"
          />
          <div class="close" @click="close()">
            <img src="@/assets/icons/close-get-pro.svg" alt="" />
          </div>
        </div>
        <ul class="number-list">
          <li
            v-for="(country, index) in filteredCountries"
            :key="index"
            @click="changeCountry(country)"
          >
            <span class="flag">{{ country.flag }}</span>
            <span class="code">{{ country.code }}</span>
            <span class="code">{{ country.country }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { countries } from "@/utils/countries";
import debounce from "lodash.debounce";

export default {
  data() {
    return {
      showCountries: false,
      countries: countries,
      searchText: "",
      selectedCountry: null,
      phone: null
    };
  },

  mounted() {
    const defaultCountry = "Turkey";
    const selectedCountry = countries.find(country => country.country === defaultCountry) || countries[0];

    this.selectedCountry = selectedCountry;
    this.phone = {
      code: selectedCountry.code,
      number: "5383979011",
    };
  },
  computed: {
    filteredCountries() {
      if (this.searchText) {
        return countries.filter((country) =>
            country.country.toLowerCase().includes(this.searchText.toLowerCase())
        );
      } else {
        return countries;
      }
    }
  },
  methods: {
    changeCountry(country) {
      this.selectedCountry = country;
      this.phone.code = country.code;
      this.searchText = "";
      this.close();
    },
    validateNumber(number) {
      const phoneRegex = /^\d{10}$/;
      return phoneRegex.test(number);
    },
    close() {
      this.showCountries = false;
      this.searchText = "";
      this.countries = countries;
    },
  },

  watch: {
    "phone.code"(code) {
      this.$emit("codeChanged", {
        code: this.phone.code,
        number: this.phone.number,
        isValid: this.validateNumber(this.phone.number)
      });
    },
    "phone.number"(number) {
      this.$emit("numberChanged", {
        code: this.phone.code,
        number: this.phone.number,
        isValid: this.validateNumber(this.phone.number)}
      );
    },
  },
};
</script>

<style lang="scss" scoped>

$dark: #1D1321;
$dark-2: #1D1321;
$text: #F1F1F1;
$radius-sm: 8px;
$radius-xl: 16px;
$gap-xl: 16px;
$gap-md: 12px;


.number-select-wrapper {
  .number-select {
    display: flex;
    .number-code {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 12px;
      background-color: $text;
      border-top-left-radius: $radius-sm;
      border-bottom-left-radius: $radius-sm;
      height: 44px;
      color: $dark;
      border-right: 1px solid $dark;
      flex: 1;
      span {
        font-weight: 700;
        &.flag {
          margin-right: 12px;
        }
        &.code {
          // font-size: 14px;
          margin-right: 6px;
        }
      }
      img {
        width: 12px;
        margin-left: 6px;
      }
    }
    .number-input {
      flex: 3;
      input {
        border-top-right-radius: $radius-sm;
        border-bottom-right-radius: $radius-sm;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        height: 44px;
        background-color: $text;
        text-indent: 12px;
        font-weight: 700;
        // font-size: 14px;
        width: 100%;
        &:focus {
          outline: 0;
        }
      }
    }
  }
}
.show-countries-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $dark;
  overflow: scroll;

  .close {
    img {
      width: 16px;
      height: 16px;
    }
  }

  .show-countries {
    display: flex;
    flex-direction: column;
    .number-search {
      margin: 0 $gap-xl;
      margin-top: $gap-xl;
      display: flex;
      justify-content: space-between;
      align-items: center;
      input {
        background-color: $dark-2;
        width: 100%;
        margin-right: $gap-xl;
        border-radius: $radius-xl;
        height: 44px;
        text-indent: 15px;
        color: $text;
        font-size: 14px;
        font-weight: 500;
        &:focus {
          outline: 0;
        }
      }
    }
    .number-list {
      li {
        display: flex;
        // justify-content: center;
        margin-left: calc($gap-xl);
        padding: $gap-xl 0;
        border-bottom: 1px solid $dark-2;
        span {
          margin-right: $gap-md;
        }
      }
    }
  }
}
@keyframes openSelect {
  0% {
    margin-bottom: -200px;
  }
  100% {
    margin-bottom: 0;
  }
}
</style>
