<template>
  <div class="picture-details page">
    <div class="picture-details-top">
      <div class="container">
        <div class="picture-details-top-items">
          <div class="picture-back" @click="goBack">
            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.30005 11.3L0.700048 6.69999C0.600048 6.59999 0.529382 6.49165 0.488049 6.37499C0.446049 6.25832 0.425049 6.13332 0.425049 5.99999C0.425049 5.86665 0.446049 5.74165 0.488049 5.62499C0.529382 5.50832 0.600048 5.39999 0.700048 5.29999L5.30005 0.699987C5.48338 0.516654 5.71672 0.424988 6.00005 0.424988C6.28338 0.424988 6.51672 0.516654 6.70005 0.699987C6.88338 0.883321 6.97505 1.11665 6.97505 1.39999C6.97505 1.68332 6.88338 1.91665 6.70005 2.09999L2.80005 5.99999L6.70005 9.89999C6.88338 10.0833 6.97505 10.3167 6.97505 10.6C6.97505 10.8833 6.88338 11.1167 6.70005 11.3C6.51672 11.4833 6.28338 11.575 6.00005 11.575C5.71672 11.575 5.48338 11.4833 5.30005 11.3Z" fill="#FCFCFC"/>
            </svg>
          </div>
          <div class="picture-details-top-name-info">
            <div class="top-name">
              <span>{{ nameChecker(selectedPoof ||selectedStories ) }}</span>
            </div>
            <div class="top-info">
              <span> {{selectedDate }}</span>
            </div>
          </div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="picture-details-main-item"   v-if="selectedItem && selectedItem.type === 'image'">
      <img :style="{ filter: getUser.is_premium ? 'none' : 'blur(5px)' }" :src="selectedItem.content_url">
      <div  class="picture-get-pro-button" v-show="!getUser.is_premium">
        <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8.93315 0.241577C7.41135 0.241577 5.95189 0.846108 4.87582 1.92218C3.79975 2.99825 3.19522 4.45772 3.19522 5.97951V7.73829C2.37149 8.13177 1.66081 8.72744 1.12946 9.46976C0.598101 10.2121 0.26337 11.0768 0.156475 11.9834C0.0657194 12.7846 0 13.6108 0 14.4558C0 15.2992 0.0657194 16.1253 0.156475 16.9249C0.3082 18.204 0.911249 19.387 1.8572 20.2613C2.80315 21.1355 4.02994 21.6436 5.31702 21.6943C7.72701 21.7799 10.1393 21.7799 12.5493 21.6943C13.8364 21.6436 15.0632 21.1355 16.0091 20.2613C16.955 19.387 17.5581 18.204 17.7098 16.9249C17.8006 16.1253 17.8663 15.2976 17.8663 14.4542C17.8663 13.6092 17.8006 12.7846 17.7098 11.9834C17.6028 11.0767 17.2678 10.2118 16.7362 9.46948C16.2045 8.72715 15.4935 8.13157 14.6695 7.73829V5.97951C14.6695 4.45799 14.0652 2.99876 12.9895 1.92273C11.9137 0.846706 10.4547 0.241992 8.93315 0.241577ZM12.3224 7.20627V5.97951C12.3321 5.5282 12.2516 5.07949 12.0856 4.65971C11.9196 4.23992 11.6714 3.85751 11.3556 3.5349C11.0399 3.21229 10.6629 2.95597 10.2468 2.78099C9.83066 2.606 9.38378 2.51586 8.93237 2.51586C8.48095 2.51586 8.03408 2.606 7.61795 2.78099C7.20183 2.95597 6.82484 3.21229 6.50909 3.5349C6.19333 3.85751 5.94518 4.23992 5.77917 4.65971C5.61316 5.07949 5.53264 5.5282 5.54234 5.97951V7.20627C6.67224 7.1697 7.80266 7.15197 8.93315 7.15307C10.1255 7.15307 11.2396 7.17028 12.3224 7.20627ZM8.93315 12.3699C9.2444 12.3699 9.5429 12.4936 9.76298 12.7137C9.98307 12.9338 10.1067 13.2323 10.1067 13.5435V15.1067C10.1067 15.4179 9.98307 15.7164 9.76298 15.9365C9.5429 16.1566 9.2444 16.2802 8.93315 16.2802C8.6219 16.2802 8.3234 16.1566 8.10332 15.9365C7.88323 15.7164 7.75959 15.4179 7.75959 15.1067V13.5419C7.75959 13.2307 7.88323 12.9322 8.10332 12.7121C8.3234 12.492 8.6219 12.3684 8.93315 12.3684V12.3699Z" fill="white"/>
        </svg>
        <span> Get Pro+ to unlock </span>
      </div>
    </div>
    <div class="picture-details-main-item " v-if="selectedItem && selectedItem.type ==='video'">
      <video :style="{ filter: getUser.is_premium ? 'none' : 'blur(5px)' }" :src="selectedItem.content_url"controls> </video>
      <div class="picture-get-pro-button" v-show="!getUser.is_premium">
        <svg width="18" height="22" viewBox="0 0 18 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8.93315 0.241577C7.41135 0.241577 5.95189 0.846108 4.87582 1.92218C3.79975 2.99825 3.19522 4.45772 3.19522 5.97951V7.73829C2.37149 8.13177 1.66081 8.72744 1.12946 9.46976C0.598101 10.2121 0.26337 11.0768 0.156475 11.9834C0.0657194 12.7846 0 13.6108 0 14.4558C0 15.2992 0.0657194 16.1253 0.156475 16.9249C0.3082 18.204 0.911249 19.387 1.8572 20.2613C2.80315 21.1355 4.02994 21.6436 5.31702 21.6943C7.72701 21.7799 10.1393 21.7799 12.5493 21.6943C13.8364 21.6436 15.0632 21.1355 16.0091 20.2613C16.955 19.387 17.5581 18.204 17.7098 16.9249C17.8006 16.1253 17.8663 15.2976 17.8663 14.4542C17.8663 13.6092 17.8006 12.7846 17.7098 11.9834C17.6028 11.0767 17.2678 10.2118 16.7362 9.46948C16.2045 8.72715 15.4935 8.13157 14.6695 7.73829V5.97951C14.6695 4.45799 14.0652 2.99876 12.9895 1.92273C11.9137 0.846706 10.4547 0.241992 8.93315 0.241577ZM12.3224 7.20627V5.97951C12.3321 5.5282 12.2516 5.07949 12.0856 4.65971C11.9196 4.23992 11.6714 3.85751 11.3556 3.5349C11.0399 3.21229 10.6629 2.95597 10.2468 2.78099C9.83066 2.606 9.38378 2.51586 8.93237 2.51586C8.48095 2.51586 8.03408 2.606 7.61795 2.78099C7.20183 2.95597 6.82484 3.21229 6.50909 3.5349C6.19333 3.85751 5.94518 4.23992 5.77917 4.65971C5.61316 5.07949 5.53264 5.5282 5.54234 5.97951V7.20627C6.67224 7.1697 7.80266 7.15197 8.93315 7.15307C10.1255 7.15307 11.2396 7.17028 12.3224 7.20627ZM8.93315 12.3699C9.2444 12.3699 9.5429 12.4936 9.76298 12.7137C9.98307 12.9338 10.1067 13.2323 10.1067 13.5435V15.1067C10.1067 15.4179 9.98307 15.7164 9.76298 15.9365C9.5429 16.1566 9.2444 16.2802 8.93315 16.2802C8.6219 16.2802 8.3234 16.1566 8.10332 15.9365C7.88323 15.7164 7.75959 15.4179 7.75959 15.1067V13.5419C7.75959 13.2307 7.88323 12.9322 8.10332 12.7121C8.3234 12.492 8.6219 12.3684 8.93315 12.3684V12.3699Z" fill="white"/>
        </svg>
        <span> Get Pro+ to unlock </span>
      </div>
    </div>
    <div class="picture-details-carousels">
      <div @click="changeMainPicture(item)" class="carousels-items" v-for="item in  filteredCarouselItems" :key="item.id">

        <div class="carousels-item" v-if="item.type === 'image'">
          <img :style="{ filter: getUser.is_premium ? 'none' : 'blur(5px)' }" :src="item.content_url">
          <div class="picture-details-carousels-unlock" v-show="!getUser.is_premium">
            <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47543 0C7.03161 0 5.64692 0.573555 4.62599 1.59449C3.60505 2.61543 3.0315 4.00011 3.0315 5.44393V7.11259C2.24998 7.48592 1.57571 8.05107 1.07158 8.75534C0.567455 9.45962 0.249875 10.2801 0.148457 11.1402C0.0623521 11.9003 0 12.6842 0 13.4859C0 14.286 0.0623521 15.0699 0.148457 15.8285C0.292408 17.0421 0.864558 18.1645 1.76204 18.9939C2.65952 19.8234 3.82345 20.3055 5.04458 20.3535C7.33109 20.4348 9.61977 20.4348 11.9063 20.3535C13.1274 20.3055 14.2913 19.8234 15.1888 18.9939C16.0863 18.1645 16.6584 17.0421 16.8024 15.8285C16.8885 15.0699 16.9509 14.2846 16.9509 13.4844C16.9509 12.6827 16.8885 11.9003 16.8024 11.1402C16.7008 10.2799 16.383 9.45936 15.8786 8.75508C15.3742 8.05079 14.6997 7.48572 13.9179 7.11259V5.44393C13.9179 4.00037 13.3445 2.61591 12.3239 1.59501C11.3033 0.574123 9.91899 0.000393663 8.47543 0ZM11.691 6.60784V5.44393C11.7002 5.01574 11.6238 4.59003 11.4663 4.19175C11.3088 3.79348 11.0734 3.43066 10.7738 3.12458C10.4742 2.8185 10.1166 2.57532 9.72175 2.40929C9.32695 2.24327 8.90297 2.15776 8.47469 2.15776C8.0464 2.15776 7.62242 2.24327 7.22762 2.40929C6.83282 2.57532 6.47515 2.8185 6.17557 3.12458C5.876 3.43066 5.64055 3.79348 5.48305 4.19175C5.32555 4.59003 5.24916 5.01574 5.25836 5.44393V6.60784C6.33036 6.57314 7.40287 6.55631 8.47543 6.55736C9.60667 6.55736 10.6637 6.57369 11.691 6.60784ZM8.47543 11.5069C8.77073 11.5069 9.05393 11.6242 9.26274 11.833C9.47155 12.0419 9.58886 12.3251 9.58886 12.6204V14.1034C9.58886 14.3987 9.47155 14.682 9.26274 14.8908C9.05393 15.0996 8.77073 15.2169 8.47543 15.2169C8.18013 15.2169 7.89692 15.0996 7.68811 14.8908C7.47931 14.682 7.362 14.3987 7.362 14.1034V12.6189C7.362 12.3236 7.47931 12.0404 7.68811 11.8316C7.89692 11.6227 8.18013 11.5054 8.47543 11.5054V11.5069Z" fill="white" fill-opacity="0.75"/>
            </svg>
          </div>
        </div>
        <div class="carousels-item" v-else-if="item.type === 'video'">
          <video :style="{ filter: getUser.is_premium ? 'none' : 'blur(5px)' }" :src="item.content_url" ></video>
          <div class="picture-details-carousels-unlock">
            <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47543 0C7.03161 0 5.64692 0.573555 4.62599 1.59449C3.60505 2.61543 3.0315 4.00011 3.0315 5.44393V7.11259C2.24998 7.48592 1.57571 8.05107 1.07158 8.75534C0.567455 9.45962 0.249875 10.2801 0.148457 11.1402C0.0623521 11.9003 0 12.6842 0 13.4859C0 14.286 0.0623521 15.0699 0.148457 15.8285C0.292408 17.0421 0.864558 18.1645 1.76204 18.9939C2.65952 19.8234 3.82345 20.3055 5.04458 20.3535C7.33109 20.4348 9.61977 20.4348 11.9063 20.3535C13.1274 20.3055 14.2913 19.8234 15.1888 18.9939C16.0863 18.1645 16.6584 17.0421 16.8024 15.8285C16.8885 15.0699 16.9509 14.2846 16.9509 13.4844C16.9509 12.6827 16.8885 11.9003 16.8024 11.1402C16.7008 10.2799 16.383 9.45936 15.8786 8.75508C15.3742 8.05079 14.6997 7.48572 13.9179 7.11259V5.44393C13.9179 4.00037 13.3445 2.61591 12.3239 1.59501C11.3033 0.574123 9.91899 0.000393663 8.47543 0ZM11.691 6.60784V5.44393C11.7002 5.01574 11.6238 4.59003 11.4663 4.19175C11.3088 3.79348 11.0734 3.43066 10.7738 3.12458C10.4742 2.8185 10.1166 2.57532 9.72175 2.40929C9.32695 2.24327 8.90297 2.15776 8.47469 2.15776C8.0464 2.15776 7.62242 2.24327 7.22762 2.40929C6.83282 2.57532 6.47515 2.8185 6.17557 3.12458C5.876 3.43066 5.64055 3.79348 5.48305 4.19175C5.32555 4.59003 5.24916 5.01574 5.25836 5.44393V6.60784C6.33036 6.57314 7.40287 6.55631 8.47543 6.55736C9.60667 6.55736 10.6637 6.57369 11.691 6.60784ZM8.47543 11.5069C8.77073 11.5069 9.05393 11.6242 9.26274 11.833C9.47155 12.0419 9.58886 12.3251 9.58886 12.6204V14.1034C9.58886 14.3987 9.47155 14.682 9.26274 14.8908C9.05393 15.0996 8.77073 15.2169 8.47543 15.2169C8.18013 15.2169 7.89692 15.0996 7.68811 14.8908C7.47931 14.682 7.362 14.3987 7.362 14.1034V12.6189C7.362 12.3236 7.47931 12.0404 7.68811 11.8316C7.89692 11.6227 8.18013 11.5054 8.47543 11.5054V11.5069Z" fill="white" fill-opacity="0.75"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="picture-details-download">
      <div class="container">
        <div  class="picture-details-download-button" :style="{ opacity: getUser.is_premium ? 'none' : '0.5' }">
          <span>Download</span>
        </div>
        <div class="picture-details-download-pro" v-show="!getUser.is_premium">
          <span> PRO+ </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useProdStore } from "@/store/base.js";
import { ref } from "vue";
import router from "@/router/index.js";

export default {
  name: "PictureDetails",
  setup() {
    const selectedItem = useProdStore().selectedItem;
    const selectedPoof = useProdStore().selectedPoof;
    const selectedStories = useProdStore().selectedStories
    const getUser = useProdStore().getUser;


    const selectedItemRef = ref(selectedItem);

    return {
      selectedItem: selectedItemRef,
      selectedPoof,
      selectedStories,
      getUser,
    };
  },

  created() {
    console.log(this.selectedPoof)
    console.log(this.selectedItem)
    console.log(this.selectedStories)

  },

  computed: {
    selectedDate() {
      if (this.selectedItem) {
        const timestamp = this.selectedItem.timestamp * 1000;
        const date = new Date(timestamp);
        const formattedDate = date.toLocaleDateString('en-US', {year: 'numeric', month: 'long', day: 'numeric'});
        return formattedDate;
      } else {
        return '';
      }
    },
    filteredCarouselItems() {
      const isItemInSelected = (item, selectedList) => {
        return selectedList && selectedList.status.items.some(selectedItem => selectedItem.id === item.id);
      };
      if (this.selectedPoof && isItemInSelected(this.selectedItem, this.selectedPoof)) {
        return this.selectedPoof.status.items;
      } else if (this.selectedStories && isItemInSelected(this.selectedItem, this.selectedStories)) {
        return this.selectedStories.status.items;
      } else {
        return [];
      }
    },

  },

    methods: {
      nameChecker(item) {
        return item.name ? item.name : item.phoneNumber;
      },

      changeMainPicture(item) {
        this.selectedItem = item;
        console.log(this.selectedItem);
        console.log(item);
      },


    }

}
</script>

<style lang="scss">
</style>
