<template>
<div class="profile-page page">
  <div class="container">
    <div class="profile-page-top">
      <div class="back-icon" @click="goBack()">

          <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.30005 11.3L0.700048 6.69999C0.600048 6.59999 0.529382 6.49165 0.488049 6.37499C0.446049 6.25832 0.425049 6.13332 0.425049 5.99999C0.425049 5.86665 0.446049 5.74165 0.488049 5.62499C0.529382 5.50832 0.600048 5.39999 0.700048 5.29999L5.30005 0.699987C5.48338 0.516654 5.71672 0.424988 6.00005 0.424988C6.28338 0.424988 6.51672 0.516654 6.70005 0.699987C6.88338 0.883321 6.97505 1.11665 6.97505 1.39999C6.97505 1.68332 6.88338 1.91665 6.70005 2.09999L2.80005 5.99999L6.70005 9.89999C6.88338 10.0833 6.97505 10.3167 6.97505 10.6C6.97505 10.8833 6.88338 11.1167 6.70005 11.3C6.51672 11.4833 6.28338 11.575 6.00005 11.575C5.71672 11.575 5.48338 11.4833 5.30005 11.3Z" fill="#FCFCFC"/>
          </svg>
      </div>
      <div class="profile-pic">
        <img :src="imageChecker(selectedStories?.profilePic || selectedPoof?.profilePic)" style="width: 44px; height: 44px; border-radius: 50%;">
          <span> {{ nameChecker(selectedStories || selectedPoof )}}</span>
      </div>
    </div>
    <div class="profile-page-bar">
      <div class="profile-page-secret-media"   :class="{ 'active': isSecretMediaActive }"
           @click="toggleSecretMedia" ><span> Secret Media ({{ selectedPoof ? selectedPoof?.status?.count : 0 }})</span></div>
      <div class="profile-page-updates"    :class="{ 'active': !isSecretMediaActive, }"
           @click="toggleSecretMedia" > <span> Updates ({{ selectedStories ? selectedStories?.status?.count : 0 }}) </span> </div>

    </div>


    <div class="profile-page">
      <div>
        <!-- Profil bilgileri ve geri dönüş ikonu vs. -->

        <div v-for="(items, date) in groupedItemsByDay" :key="date" class="profile-page-item-wrapper">
          <div class="profile-page-items-top">
            <div class="profile-page-date">
              <span> {{ new Date(date).toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' }) }} </span>
            </div>
            <div class="profile-page-download">
              <div class="download-icon">
                <img src="/src/assets/icons/download-icon.svg">
              </div>
              <div class="download-text"> <span> Download </span></div>
            </div>
          </div>

              <div class="profile-page-item">
            <div @click="selectedItems(item)"  class="profile-page-items" v-for="item in items" :key="item.id">
              <div class="profile-page-unlock-img" v-show="!getUser.is_premium" >
                <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47543 0C7.03161 0 5.64692 0.573555 4.62599 1.59449C3.60505 2.61543 3.0315 4.00011 3.0315 5.44393V7.11259C2.24998 7.48592 1.57571 8.05107 1.07158 8.75534C0.567455 9.45962 0.249875 10.2801 0.148457 11.1402C0.0623521 11.9003 0 12.6842 0 13.4859C0 14.286 0.0623521 15.0699 0.148457 15.8285C0.292408 17.0421 0.864558 18.1645 1.76204 18.9939C2.65952 19.8234 3.82345 20.3055 5.04458 20.3535C7.33109 20.4348 9.61977 20.4348 11.9063 20.3535C13.1274 20.3055 14.2913 19.8234 15.1888 18.9939C16.0863 18.1645 16.6584 17.0421 16.8024 15.8285C16.8885 15.0699 16.9509 14.2846 16.9509 13.4844C16.9509 12.6827 16.8885 11.9003 16.8024 11.1402C16.7008 10.2799 16.383 9.45936 15.8786 8.75508C15.3742 8.05079 14.6997 7.48572 13.9179 7.11259V5.44393C13.9179 4.00037 13.3445 2.61591 12.3239 1.59501C11.3033 0.574123 9.91899 0.000393663 8.47543 0ZM11.691 6.60784V5.44393C11.7002 5.01574 11.6238 4.59003 11.4663 4.19175C11.3088 3.79348 11.0734 3.43066 10.7738 3.12458C10.4742 2.8185 10.1166 2.57532 9.72175 2.40929C9.32695 2.24327 8.90297 2.15776 8.47469 2.15776C8.0464 2.15776 7.62242 2.24327 7.22762 2.40929C6.83282 2.57532 6.47515 2.8185 6.17557 3.12458C5.876 3.43066 5.64055 3.79348 5.48305 4.19175C5.32555 4.59003 5.24916 5.01574 5.25836 5.44393V6.60784C6.33036 6.57314 7.40287 6.55631 8.47543 6.55736C9.60667 6.55736 10.6637 6.57369 11.691 6.60784ZM8.47543 11.5069C8.77073 11.5069 9.05393 11.6242 9.26274 11.833C9.47155 12.0419 9.58886 12.3251 9.58886 12.6204V14.1034C9.58886 14.3987 9.47155 14.682 9.26274 14.8908C9.05393 15.0996 8.77073 15.2169 8.47543 15.2169C8.18013 15.2169 7.89692 15.0996 7.68811 14.8908C7.47931 14.682 7.362 14.3987 7.362 14.1034V12.6189C7.362 12.3236 7.47931 12.0404 7.68811 11.8316C7.89692 11.6227 8.18013 11.5054 8.47543 11.5054V11.5069Z" fill="white" fill-opacity="0.75"/>
                </svg>

              </div>
              <div class="profile-page-content" v-if="item.type ==='image'">
              <img :src="item.content_url || '../assets/img/default-pic.png'" :alt="'Media for ' + date"  :style="{ filter: getUser.is_premium ? 'none' : 'blur(5px)' }">

              </div>
              <div class="profile-page-content" v-if="item.type ==='video'">
                <video :src="item.content_url || '../assets/img/default-pic.png'" :alt="'Media for ' + date" :style="{ filter: getUser.is_premium ? 'none' : 'blur(5px)' }" > </video>

              </div>
            </div>

              </div>

        </div>
      </div>
    </div>


  </div>


</div>
</template>

<script>
import {useProdStore} from "@/store/base.js";
import router from "@/router/index.js";

export default {
  name: "ProfilePage",
  data() {
    return {

      isSecretMediaActive: true,

    }
  },



  created() {

  },
  setup() {
    const selectedPoof = useProdStore().selectedPoof;
    const selectedStories = useProdStore().selectedStories;
    const getUser = useProdStore().getUser;


    const selectedItems = item => {
      useProdStore().setSelectedItem(item);
      router.push({ name: 'picture' });
    };

    return {
      selectedPoof,
      selectedItems,
      selectedStories,
      getUser
    };
  },

  computed: {
    groupedItemsByDay() {
      const selectedItems = this.isSecretMediaActive ? this.selectedPoof?.status?.items : this.selectedStories?.status?.items;
      const groupedByDay = {};

      if (!selectedItems) return groupedByDay;

      selectedItems.forEach(item => {
        const date = new Date(item.timestamp * 1000);
        const dateKey = date.toISOString().split('T')[0];

        if (!groupedByDay[dateKey]) {
          groupedByDay[dateKey] = [];
        }

        groupedByDay[dateKey].push(item);
      });

      return groupedByDay;
    },




  },
  methods: {
    imageChecker(image) {
      if (image) {
        return image;
      } else {
        return "https://uxwing.com/wp-content/themes/uxwing/download/peoples-avatars/no-profile-picture-icon.png";
      }
    },
    nameChecker(item) {
      return item.name ? item.name : item.phoneNumber;
    },

      toggleSecretMedia() {
        this.isSecretMediaActive = !this.isSecretMediaActive;
      },
  }
};
</script>

<style lang="scss">









</style>
