<template>
  <div class="rate-page page">
    <div class="container">
      <div class="rate-top">
        <div class="container">
        <img src="../assets/img/big-close.png">
        </div>
      </div>
      <div class="rate-items">
        <div class="container">
          <div class="gift-img">
            <img src="../assets/img/gift-pic.png">
            <div class="rate-stars">
              <img src="../assets/img/star.png">
              <img src="../assets/img/star.png">
              <img src="../assets/img/star.png">
              <img src="../assets/img/star.png">
              <img src="../assets/img/star.png">
            </div>
          </div>
        </div>
      </div>
      <div class="rate-info">
        <div class="rate-text">
          <span class="small-rate-text">  Rate us on the App Store </span>
          <span class="big-rate-text"> Get 3 days for free! </span>
        </div>
        <div class="limited-offer">
          <img src="../assets/img/clock-img.png">
          <span> LIMITED TIME OFFER </span>
        </div>
      </div>
      <div class="rate-buttons">
        <div class="container ">
        <div class="rate-page-rate-button" @click="rate">
          <span> Rate Now </span>
        </div>

        <div class="rate-page-decline">
          <span> Decline Offer  </span>
        </div>
        </div>
      </div>



    </div>

  </div>
</template>

<script>
import {useProdStore} from "@/store/base.js";
import router from "@/router/index.js";

export default {
  name: "rate",
  data() {
    return {

    }
  },




  setup() {
    const rate = useProdStore().rate
    const rateStatus = useProdStore().rateStatus



    return {
   rate,
      rateStatus
    };
  },
  created() {
console.log(this.rateStatus)
  },


  computed: {


  },
  methods: {

  }
};
</script>

<style lang="scss">


</style>