<template>
  <div class="updates-items">
    <div v-for="person in people" :key="person.name" class="updates-item">

        <img class="updates-item-img" src="../assets/img/linda.png" alt="Person Image">


      <span>{{ person.name }}</span>
    </div>
  </div>
</template>

<script>
import { useChatopiaStore } from '@/store/counter'
export default {
  name: "UpdatesItem",
  setup() {
    const chatopiaStore = useChatopiaStore()
    const people = chatopiaStore.data.people


    return {
      people
    }
  }
}
</script>

<style lang="scss">

</style>
