<template>
  <div class="search-results page">
    <div class="container">
      <div class="search-page-input">
        <router-link to="/search-results">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5625 8.2065C0.5625 3.98513 3.98325 0.5625 8.20313 0.5625C12.423 0.5625 15.8434 3.98513 15.8434 8.2065C15.8434 9.69563 15.4178 11.0858 14.6813 12.261C14.7926 12.354 14.9036 12.4459 15.0146 12.5378L15.0188 12.5415C15.6315 13.0496 16.2398 13.554 16.8405 14.1113C17.5616 14.7799 17.6614 15.8201 16.9605 16.545C16.8246 16.6857 16.6863 16.8241 16.5458 16.9601C15.8213 17.6614 14.7814 17.562 14.1131 16.8401C13.5566 16.239 13.0523 15.6304 12.5445 15.0173L12.5423 15.0143L12.5415 15.0135L12.2663 14.6816C11.0497 15.4477 9.64081 15.8531 8.20313 15.8509C3.98325 15.8509 0.5625 12.4283 0.5625 8.2065ZM8.25 13.125C10.9425 13.125 13.125 10.9425 13.125 8.25C13.125 5.5575 10.9425 3.375 8.25 3.375C5.5575 3.375 3.375 5.5575 3.375 8.25C3.375 10.9425 5.5575 13.125 8.25 13.125Z" fill="#7A6B81"/>
          </svg>
        </router-link>
        <input  placeholder="Moments, date, people and more...">
        <span class="cancel"> Cancel</span>
      </div>
      <div class="search-results-items">
        <div class="search-results-items-top">
          <div class="search-results-items-title"> <span> Camping </span></div>
          <div class="search-results-items-count"> <span>62 Photos, 9 Videos </span> </div>
        </div>
        <div class="search-results-item">
          <img src="../assets/img/camping.png">
          <img src="../assets/img/camping.png">
          <img src="../assets/img/camping.png">
          <img src="../assets/img/camping.png">
          <img src="../assets/img/camping.png">
          <img src="../assets/img/camping.png">
          <img src="../assets/img/camping.png">
          <img src="../assets/img/camping.png">
          <img src="../assets/img/camping.png">
          <img src="../assets/img/camping.png">
          <img src="../assets/img/camping.png">
          <img src="../assets/img/camping.png">
          <img src="../assets/img/camping.png">
          <img src="../assets/img/camping.png">  <img src="../assets/img/camping.png">  <img src="../assets/img/camping.png">



        </div>
      </div>
    </div>
  </div>

</template>

<script>
export default {
  name: "SearchResults"
}
</script>

<style lang="scss">




</style>