<template>
<div class="search-page page">
  <div class="container">
    <div class="search-page-top">
      <span> Search </span>
    </div>
    <div class="search-page-input">
      <router-link to="/search-results">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.5625 8.2065C0.5625 3.98513 3.98325 0.5625 8.20313 0.5625C12.423 0.5625 15.8434 3.98513 15.8434 8.2065C15.8434 9.69563 15.4178 11.0858 14.6813 12.261C14.7926 12.354 14.9036 12.4459 15.0146 12.5378L15.0188 12.5415C15.6315 13.0496 16.2398 13.554 16.8405 14.1113C17.5616 14.7799 17.6614 15.8201 16.9605 16.545C16.8246 16.6857 16.6863 16.8241 16.5458 16.9601C15.8213 17.6614 14.7814 17.562 14.1131 16.8401C13.5566 16.239 13.0523 15.6304 12.5445 15.0173L12.5423 15.0143L12.5415 15.0135L12.2663 14.6816C11.0497 15.4477 9.64081 15.8531 8.20313 15.8509C3.98325 15.8509 0.5625 12.4283 0.5625 8.2065ZM8.25 13.125C10.9425 13.125 13.125 10.9425 13.125 8.25C13.125 5.5575 10.9425 3.375 8.25 3.375C5.5575 3.375 3.375 5.5575 3.375 8.25C3.375 10.9425 5.5575 13.125 8.25 13.125Z" fill="#7A6B81"/>
        </svg>

      </router-link>
      <input @click="hideElementsOnClick"  placeholder="Moments, date, people and more...">
      <span class="cancel none" @click="showElementsOnClick()"> Cancel</span>
    </div>

    <div class="moments">
      <div class="search-page-item-title">
        <span> Moments</span>
      </div>
      <div class="moments-items">
        <div class="moments-item">
          <img src="../assets/img/nature.png" :style="{ filter: getUser.is_premium ? 'none' : 'blur(5px)' }">

          <div  class="unlock-img" v-show="!getUser.is_premium" >
            <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47543 0C7.03161 0 5.64692 0.573555 4.62599 1.59449C3.60505 2.61543 3.0315 4.00011 3.0315 5.44393V7.11259C2.24998 7.48592 1.57571 8.05107 1.07158 8.75534C0.567455 9.45962 0.249875 10.2801 0.148457 11.1402C0.0623521 11.9003 0 12.6842 0 13.4859C0 14.286 0.0623521 15.0699 0.148457 15.8285C0.292408 17.0421 0.864558 18.1645 1.76204 18.9939C2.65952 19.8234 3.82345 20.3055 5.04458 20.3535C7.33109 20.4348 9.61977 20.4348 11.9063 20.3535C13.1274 20.3055 14.2913 19.8234 15.1888 18.9939C16.0863 18.1645 16.6584 17.0421 16.8024 15.8285C16.8885 15.0699 16.9509 14.2846 16.9509 13.4844C16.9509 12.6827 16.8885 11.9003 16.8024 11.1402C16.7008 10.2799 16.383 9.45936 15.8786 8.75508C15.3742 8.05079 14.6997 7.48572 13.9179 7.11259V5.44393C13.9179 4.00037 13.3445 2.61591 12.3239 1.59501C11.3033 0.574123 9.91899 0.000393663 8.47543 0ZM11.691 6.60784V5.44393C11.7002 5.01574 11.6238 4.59003 11.4663 4.19175C11.3088 3.79348 11.0734 3.43066 10.7738 3.12458C10.4742 2.8185 10.1166 2.57532 9.72175 2.40929C9.32695 2.24327 8.90297 2.15776 8.47469 2.15776C8.0464 2.15776 7.62242 2.24327 7.22762 2.40929C6.83282 2.57532 6.47515 2.8185 6.17557 3.12458C5.876 3.43066 5.64055 3.79348 5.48305 4.19175C5.32555 4.59003 5.24916 5.01574 5.25836 5.44393V6.60784C6.33036 6.57314 7.40287 6.55631 8.47543 6.55736C9.60667 6.55736 10.6637 6.57369 11.691 6.60784ZM8.47543 11.5069C8.77073 11.5069 9.05393 11.6242 9.26274 11.833C9.47155 12.0419 9.58886 12.3251 9.58886 12.6204V14.1034C9.58886 14.3987 9.47155 14.682 9.26274 14.8908C9.05393 15.0996 8.77073 15.2169 8.47543 15.2169C8.18013 15.2169 7.89692 15.0996 7.68811 14.8908C7.47931 14.682 7.362 14.3987 7.362 14.1034V12.6189C7.362 12.3236 7.47931 12.0404 7.68811 11.8316C7.89692 11.6227 8.18013 11.5054 8.47543 11.5054V11.5069Z" fill="white" fill-opacity="0.75"/>
            </svg>

          </div>
          <span> Nature </span>
        </div>
        <div class="moments-item">
          <img src="../assets/img/nature.png" :style="{ filter: getUser.is_premium ? 'none' : 'blur(5px)' }">
          <div  class="unlock-img" v-show="!getUser.is_premium" >
            <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47543 0C7.03161 0 5.64692 0.573555 4.62599 1.59449C3.60505 2.61543 3.0315 4.00011 3.0315 5.44393V7.11259C2.24998 7.48592 1.57571 8.05107 1.07158 8.75534C0.567455 9.45962 0.249875 10.2801 0.148457 11.1402C0.0623521 11.9003 0 12.6842 0 13.4859C0 14.286 0.0623521 15.0699 0.148457 15.8285C0.292408 17.0421 0.864558 18.1645 1.76204 18.9939C2.65952 19.8234 3.82345 20.3055 5.04458 20.3535C7.33109 20.4348 9.61977 20.4348 11.9063 20.3535C13.1274 20.3055 14.2913 19.8234 15.1888 18.9939C16.0863 18.1645 16.6584 17.0421 16.8024 15.8285C16.8885 15.0699 16.9509 14.2846 16.9509 13.4844C16.9509 12.6827 16.8885 11.9003 16.8024 11.1402C16.7008 10.2799 16.383 9.45936 15.8786 8.75508C15.3742 8.05079 14.6997 7.48572 13.9179 7.11259V5.44393C13.9179 4.00037 13.3445 2.61591 12.3239 1.59501C11.3033 0.574123 9.91899 0.000393663 8.47543 0ZM11.691 6.60784V5.44393C11.7002 5.01574 11.6238 4.59003 11.4663 4.19175C11.3088 3.79348 11.0734 3.43066 10.7738 3.12458C10.4742 2.8185 10.1166 2.57532 9.72175 2.40929C9.32695 2.24327 8.90297 2.15776 8.47469 2.15776C8.0464 2.15776 7.62242 2.24327 7.22762 2.40929C6.83282 2.57532 6.47515 2.8185 6.17557 3.12458C5.876 3.43066 5.64055 3.79348 5.48305 4.19175C5.32555 4.59003 5.24916 5.01574 5.25836 5.44393V6.60784C6.33036 6.57314 7.40287 6.55631 8.47543 6.55736C9.60667 6.55736 10.6637 6.57369 11.691 6.60784ZM8.47543 11.5069C8.77073 11.5069 9.05393 11.6242 9.26274 11.833C9.47155 12.0419 9.58886 12.3251 9.58886 12.6204V14.1034C9.58886 14.3987 9.47155 14.682 9.26274 14.8908C9.05393 15.0996 8.77073 15.2169 8.47543 15.2169C8.18013 15.2169 7.89692 15.0996 7.68811 14.8908C7.47931 14.682 7.362 14.3987 7.362 14.1034V12.6189C7.362 12.3236 7.47931 12.0404 7.68811 11.8316C7.89692 11.6227 8.18013 11.5054 8.47543 11.5054V11.5069Z" fill="white" fill-opacity="0.75"/>
            </svg>

          </div>
          <span> Nature </span>
        </div>
        <div class="moments-item">
          <img src="../assets/img/nature.png" :style="{ filter: getUser.is_premium ? 'none' : 'blur(5px)' }" >
          <div  class="unlock-img" v-show="!getUser.is_premium">
            <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47543 0C7.03161 0 5.64692 0.573555 4.62599 1.59449C3.60505 2.61543 3.0315 4.00011 3.0315 5.44393V7.11259C2.24998 7.48592 1.57571 8.05107 1.07158 8.75534C0.567455 9.45962 0.249875 10.2801 0.148457 11.1402C0.0623521 11.9003 0 12.6842 0 13.4859C0 14.286 0.0623521 15.0699 0.148457 15.8285C0.292408 17.0421 0.864558 18.1645 1.76204 18.9939C2.65952 19.8234 3.82345 20.3055 5.04458 20.3535C7.33109 20.4348 9.61977 20.4348 11.9063 20.3535C13.1274 20.3055 14.2913 19.8234 15.1888 18.9939C16.0863 18.1645 16.6584 17.0421 16.8024 15.8285C16.8885 15.0699 16.9509 14.2846 16.9509 13.4844C16.9509 12.6827 16.8885 11.9003 16.8024 11.1402C16.7008 10.2799 16.383 9.45936 15.8786 8.75508C15.3742 8.05079 14.6997 7.48572 13.9179 7.11259V5.44393C13.9179 4.00037 13.3445 2.61591 12.3239 1.59501C11.3033 0.574123 9.91899 0.000393663 8.47543 0ZM11.691 6.60784V5.44393C11.7002 5.01574 11.6238 4.59003 11.4663 4.19175C11.3088 3.79348 11.0734 3.43066 10.7738 3.12458C10.4742 2.8185 10.1166 2.57532 9.72175 2.40929C9.32695 2.24327 8.90297 2.15776 8.47469 2.15776C8.0464 2.15776 7.62242 2.24327 7.22762 2.40929C6.83282 2.57532 6.47515 2.8185 6.17557 3.12458C5.876 3.43066 5.64055 3.79348 5.48305 4.19175C5.32555 4.59003 5.24916 5.01574 5.25836 5.44393V6.60784C6.33036 6.57314 7.40287 6.55631 8.47543 6.55736C9.60667 6.55736 10.6637 6.57369 11.691 6.60784ZM8.47543 11.5069C8.77073 11.5069 9.05393 11.6242 9.26274 11.833C9.47155 12.0419 9.58886 12.3251 9.58886 12.6204V14.1034C9.58886 14.3987 9.47155 14.682 9.26274 14.8908C9.05393 15.0996 8.77073 15.2169 8.47543 15.2169C8.18013 15.2169 7.89692 15.0996 7.68811 14.8908C7.47931 14.682 7.362 14.3987 7.362 14.1034V12.6189C7.362 12.3236 7.47931 12.0404 7.68811 11.8316C7.89692 11.6227 8.18013 11.5054 8.47543 11.5054V11.5069Z" fill="white" fill-opacity="0.75"/>
            </svg>

          </div>
          <span> Nature </span>
        </div>
        <div class="moments-item">
          <img src="../assets/img/nature.png" :style="{ filter: getUser.is_premium ? 'none' : 'blur(5px)' }">
          <div  class="unlock-img"  v-show="!getUser.is_premium">
            <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M8.47543 0C7.03161 0 5.64692 0.573555 4.62599 1.59449C3.60505 2.61543 3.0315 4.00011 3.0315 5.44393V7.11259C2.24998 7.48592 1.57571 8.05107 1.07158 8.75534C0.567455 9.45962 0.249875 10.2801 0.148457 11.1402C0.0623521 11.9003 0 12.6842 0 13.4859C0 14.286 0.0623521 15.0699 0.148457 15.8285C0.292408 17.0421 0.864558 18.1645 1.76204 18.9939C2.65952 19.8234 3.82345 20.3055 5.04458 20.3535C7.33109 20.4348 9.61977 20.4348 11.9063 20.3535C13.1274 20.3055 14.2913 19.8234 15.1888 18.9939C16.0863 18.1645 16.6584 17.0421 16.8024 15.8285C16.8885 15.0699 16.9509 14.2846 16.9509 13.4844C16.9509 12.6827 16.8885 11.9003 16.8024 11.1402C16.7008 10.2799 16.383 9.45936 15.8786 8.75508C15.3742 8.05079 14.6997 7.48572 13.9179 7.11259V5.44393C13.9179 4.00037 13.3445 2.61591 12.3239 1.59501C11.3033 0.574123 9.91899 0.000393663 8.47543 0ZM11.691 6.60784V5.44393C11.7002 5.01574 11.6238 4.59003 11.4663 4.19175C11.3088 3.79348 11.0734 3.43066 10.7738 3.12458C10.4742 2.8185 10.1166 2.57532 9.72175 2.40929C9.32695 2.24327 8.90297 2.15776 8.47469 2.15776C8.0464 2.15776 7.62242 2.24327 7.22762 2.40929C6.83282 2.57532 6.47515 2.8185 6.17557 3.12458C5.876 3.43066 5.64055 3.79348 5.48305 4.19175C5.32555 4.59003 5.24916 5.01574 5.25836 5.44393V6.60784C6.33036 6.57314 7.40287 6.55631 8.47543 6.55736C9.60667 6.55736 10.6637 6.57369 11.691 6.60784ZM8.47543 11.5069C8.77073 11.5069 9.05393 11.6242 9.26274 11.833C9.47155 12.0419 9.58886 12.3251 9.58886 12.6204V14.1034C9.58886 14.3987 9.47155 14.682 9.26274 14.8908C9.05393 15.0996 8.77073 15.2169 8.47543 15.2169C8.18013 15.2169 7.89692 15.0996 7.68811 14.8908C7.47931 14.682 7.362 14.3987 7.362 14.1034V12.6189C7.362 12.3236 7.47931 12.0404 7.68811 11.8316C7.89692 11.6227 8.18013 11.5054 8.47543 11.5054V11.5069Z" fill="white" fill-opacity="0.75"/>
            </svg>

          </div>
          <span> Nature </span>
        </div>

      </div>
    </div>
    <div class="search-page-people">
      <div class="search-page-item-title">
        <span> People </span>
      </div>
      <SearchPagePeople> </SearchPagePeople>
    </div>
 <Navbar></Navbar>
    <div class="recent-searches none">
      <div class="recent-searches-top">
        <div class="recent-searches-title">
          <span> Recent Searches</span>
        </div>
        <div class="recent-searches-close" @click="showElementsOnClick()">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_2172_29777)">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M18 9C18 13.9706 13.9706 18 9 18C4.02944 18 0 13.9706 0 9C0 4.02944 4.02944 0 9 0C13.9706 0 18 4.02944 18 9ZM5.10386 5.10386C5.48043 4.72729 6.09099 4.72729 6.46757 5.10386L9 7.63629L11.5324 5.10386C11.909 4.72729 12.5196 4.72729 12.8961 5.10386C13.2727 5.48043 13.2727 6.09099 12.8961 6.46757L10.3637 9L12.8961 11.5324C13.2727 11.909 13.2727 12.5196 12.8961 12.8961C12.5196 13.2727 11.909 13.2727 11.5324 12.8961L9 10.3637L6.46757 12.8961C6.09099 13.2727 5.48043 13.2727 5.10386 12.8961C4.72729 12.5196 4.72729 11.909 5.10386 11.5324L7.63629 9L5.10386 6.46757C4.72729 6.09099 4.72729 5.48043 5.10386 5.10386Z" fill="#9C8DA3"/>
            </g>
            <defs>
              <clipPath id="clip0_2172_29777">
                <rect width="18" height="18" fill="white"/>
              </clipPath>
            </defs>
          </svg>

        </div>
      </div>
      <div class="recent-searches-items">
        <span> Linda Selfie</span>
        <span> Camping </span>
        <span> Metallica Concert</span>
        <span> Summer 2023 </span>
      </div>
    </div>



  </div>
</div>
</template>

<script>

import Navbar from "@/components/Navbar.vue";
import SearchPagePeople from "@/components/SearchPagePeople.vue";
import {useProdStore} from "@/store/base.js";

export default {
  components: {Navbar, SearchPagePeople},

  setup() {
    const getUser = useProdStore().getUser;

    return {
      getUser
    };

  },

  created() {
    console.log(this.getUser.is_premium)
  },

  methods: {

    hideElementsOnClick() {
      document.querySelector('.moments').style.display = 'none';
      document.querySelector('.search-page-people').style.display = 'none';
      document.querySelector('.nav-bar').style.display = 'none';
      document.querySelector('.recent-searches').style.display = 'block';
      document.querySelector('.cancel').style.display = 'block';
      document.querySelector('.search-page-top').style.display = 'none';
    },
    showElementsOnClick() {
      document.querySelector('.moments').style.display = 'block';
      document.querySelector('.search-page-people').style.display = 'block';
      document.querySelector('.nav-bar').style.display = 'block';
      document.querySelector('.recent-searches').style.display = 'none';
      document.querySelector('.cancel').style.display = 'none';
      document.querySelector('.search-page-top').style.display = 'block';
    }
  }
};

</script>

<style lang="scss">


</style>