<template>
  <div class="secret-media-items">
    <div v-for="poofItem in getPoof" :key="poofItem.name" class="secret-media-item" @click="selectedPoofStories(poofItem)">
      <div class="secret-media-user-info">
        <div class="secret-media-img">
           <img :src="imageChecker(poofItem.profilePic)" style="width: 72px; height: 72px; border-radius: 50%" alt="User Image">
        </div>
        <div class="secret-media-username">
          <div class="secret-media-name">
            <span>{{ nameChecker(poofItem) }}</span>
          </div>
          <div class="secret-media-item-count">
            <span v-if="poofItem.imageCount > 0" >{{ poofItem.imageCount }} Photo<span v-if="poofItem.imageCount > 1">s</span></span> <span v-if="poofItem.videoCount > 0"> {{ poofItem.videoCount }} Video<span v-if="poofItem.videoCount > 1">s</span></span>
          </div>
        </div>
      </div>
      <div class="secret-media-send-info">
        <div class="secret-media-time">
          <span> {{ $humanizeDate(poofItem.lastItemTimestamp) }}</span>
        </div>
        <div class="secret-media-tag" v-if="poofItem.isNew">
          <span>New</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useChatopiaStore } from '@/store/counter'
import { useProdStore } from '@/store/base'
import router from "@/router/index.js";
export default {
  name: "SecretMedia",
  computed: {
  },
  created() {
    console.log(this.getPoof)
  },

  methods: {
    imageChecker(image) {
      if (image) {
        return image;
      } else {
        return "https://uxwing.com/wp-content/themes/uxwing/download/peoples-avatars/no-profile-picture-icon.png";
      }
    },
    nameChecker(item) {
      return item.name ? item.name : item.phoneNumber
    },

  }
}
</script>

<style lang="scss">



</style>
