<template>
<div class="settings-page page">
  <div class="container">
    <div class="settings-top">
      <span> Settings </span>
    </div>
    <div class="settings-profile-info" v-if="accountInfo">
      <div class="settings-profile-item">
        <div class="settings-profile-img" >
          <img :src="accountInfo.profile_pic_url" style="width: 60px; border-radius: 50%;">
        </div>
        <div class="settings-profile-name">
          <div class="name">  <span> {{accountInfo.name}} </span> </div>
          <div class="number">
            <img src="../assets/img/usa-flag.png">
            <span> +{{accountInfo.phone_number}}</span> </div>
        </div>
      </div>
    </div>
    <div class="settings-get-pro">
      <div class="container">
      <div class="settings-get-pro-title">
        <span> Discover Pro+ Benefits </span>
      </div>
      <div class="get-pro-desc">
        <div class="get-pro-desc-item">
          <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_2172_30210)">
              <path d="M13.2455 2.26848C12.3813 1.58061 11.123 1.7236 10.4352 2.58784L5.24008 9.11501L3.31704 7.43234C2.48576 6.70498 1.22224 6.78921 0.494874 7.62049C-0.23249 8.45176 -0.148255 9.71528 0.683018 10.4426L3.39454 12.8152C4.68273 13.9424 6.65138 13.765 7.71733 12.4257L13.5649 5.07882C14.2527 4.21458 14.1098 2.95635 13.2455 2.26848Z" fill="white"/>
            </g>
            <defs>
              <clipPath id="clip0_2172_30210">
                <rect width="14" height="14" fill="white" transform="translate(0 0.5)"/>
              </clipPath>
            </defs>
          </svg>

          <span>Urna elementum nec massa id  </span>
        </div>
        <div class="get-pro-desc-item">
          <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_2172_30210)">
              <path d="M13.2455 2.26848C12.3813 1.58061 11.123 1.7236 10.4352 2.58784L5.24008 9.11501L3.31704 7.43234C2.48576 6.70498 1.22224 6.78921 0.494874 7.62049C-0.23249 8.45176 -0.148255 9.71528 0.683018 10.4426L3.39454 12.8152C4.68273 13.9424 6.65138 13.765 7.71733 12.4257L13.5649 5.07882C14.2527 4.21458 14.1098 2.95635 13.2455 2.26848Z" fill="white"/>
            </g>
            <defs>
              <clipPath id="clip0_2172_30210">
                <rect width="14" height="14" fill="white" transform="translate(0 0.5)"/>
              </clipPath>
            </defs>
          </svg>

          <span>Sagittis at nisi commodo tempus  </span>
        </div>
        <div class="get-pro-desc-item">
          <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_2172_30210)">
              <path d="M13.2455 2.26848C12.3813 1.58061 11.123 1.7236 10.4352 2.58784L5.24008 9.11501L3.31704 7.43234C2.48576 6.70498 1.22224 6.78921 0.494874 7.62049C-0.23249 8.45176 -0.148255 9.71528 0.683018 10.4426L3.39454 12.8152C4.68273 13.9424 6.65138 13.765 7.71733 12.4257L13.5649 5.07882C14.2527 4.21458 14.1098 2.95635 13.2455 2.26848Z" fill="white"/>
            </g>
            <defs>
              <clipPath id="clip0_2172_30210">
                <rect width="14" height="14" fill="white" transform="translate(0 0.5)"/>
              </clipPath>
            </defs>
          </svg>

          <span>Scelerisque turpis proin  </span>
        </div>
      </div>
        <router-link to="/get-pro">
        <div class="get-pro-button">
          <span> Get Pro+ Membership </span>
        </div>
        </router-link>
      </div>

    </div>
    <div class="settings-bar">
      <div class="container">
        <div class="settings-bar-item">
          <div class="container">
          <div class="settings-bar-name">
            <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.20588 14.8334C0.971349 14.8334 0.76728 14.7466 0.593669 14.573C0.420058 14.3994 0.333252 14.1945 0.333252 13.9584C0.333252 13.7223 0.420058 13.5174 0.593669 13.3438C0.76728 13.1702 0.972141 13.0834 1.20825 13.0834H1.97909V7.3465C1.97909 6.21278 2.32631 5.198 3.02075 4.30217C3.7152 3.40633 4.61103 2.81953 5.70825 2.54175V1.95841C5.70825 1.59962 5.83407 1.29464 6.08571 1.04348C6.33734 0.792324 6.64289 0.666748 7.00238 0.666748C7.36185 0.666748 7.66658 0.792324 7.91658 1.04348C8.16658 1.29464 8.29158 1.59962 8.29158 1.95841V2.54175C9.39035 2.81953 10.2831 3.40633 10.9698 4.30217C11.6566 5.198 11.9999 6.21278 11.9999 7.3465V13.0834H12.7916C13.0277 13.0834 13.2326 13.1702 13.4062 13.3438C13.5798 13.5174 13.6666 13.7223 13.6666 13.9584C13.6666 14.1945 13.5798 14.3994 13.4062 14.573C13.2326 14.7466 13.0285 14.8334 12.794 14.8334H1.20588ZM6.99992 17.3334C6.5277 17.3334 6.13186 17.1737 5.81242 16.8542C5.49297 16.5348 5.33325 16.139 5.33325 15.6667H8.66658C8.66658 16.139 8.50686 16.5348 8.18742 16.8542C7.86797 17.1737 7.47214 17.3334 6.99992 17.3334Z" fill="#FCFCFC"/>
            </svg>
            <span> Notification Settings  </span>
          </div>
          <div class="settings-bar-arrow">
            <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.700048 11.3C0.516715 11.1167 0.425049 10.8834 0.425049 10.6C0.425049 10.3167 0.516715 10.0834 0.700048 9.90005L4.60005 6.00005L0.700048 2.10005C0.516715 1.91672 0.425049 1.68338 0.425049 1.40005C0.425049 1.11672 0.516715 0.883382 0.700048 0.700048C0.883382 0.516715 1.11671 0.425049 1.40005 0.425049C1.68338 0.425049 1.91672 0.516715 2.10005 0.700048L6.70005 5.30005C6.80005 5.40005 6.87105 5.50838 6.91305 5.62505C6.95438 5.74172 6.97505 5.86672 6.97505 6.00005C6.97505 6.13338 6.95438 6.25838 6.91305 6.37505C6.87105 6.49172 6.80005 6.60005 6.70005 6.70005L2.10005 11.3C1.91672 11.4834 1.68338 11.575 1.40005 11.575C1.11671 11.575 0.883382 11.4834 0.700048 11.3Z" fill="#7A6B81"/>
            </svg>

          </div>
          </div>
        </div>
        <div class="settings-bar-item">
          <div class="container">
            <div class="settings-bar-name">
              <svg width="18" height="16" viewBox="0 0 18 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.1491 15.6793C9.83746 15.6793 9.61487 15.5791 9.48131 15.3788C9.34776 15.1784 9.33663 14.9336 9.44792 14.6442L12.2693 7.19859C12.3472 6.99826 12.4918 6.82575 12.7033 6.68106C12.9148 6.53638 13.1318 6.46404 13.3544 6.46404C13.577 6.46404 13.794 6.53638 14.0055 6.68106C14.2169 6.82575 14.3616 6.99826 14.4395 7.19859L17.2608 14.6275C17.3721 14.9169 17.3554 15.1646 17.2107 15.3708C17.0661 15.5764 16.8323 15.6793 16.5096 15.6793C16.376 15.6793 16.248 15.6321 16.1256 15.5377C16.0032 15.4429 15.9197 15.3342 15.8752 15.2118L15.2241 13.3087H11.518L10.8169 15.2285C10.7723 15.3509 10.6862 15.4567 10.5584 15.5457C10.4302 15.6347 10.2938 15.6793 10.1491 15.6793ZM11.9521 11.9731H14.7233L13.3878 8.16685H13.321L11.9521 11.9731ZM5.37453 5.31214C5.58599 5.67941 5.80858 6.02153 6.0423 6.3385C6.27602 6.65591 6.54312 6.98713 6.84362 7.33214C7.41122 6.70889 7.88423 6.07718 8.26263 5.43701C8.64103 4.79729 8.95822 4.11572 9.2142 3.3923H1.43468C1.22322 3.3923 1.04248 3.31706 0.892454 3.16659C0.741983 3.01657 0.666748 2.83582 0.666748 2.62436C0.666748 2.4129 0.741983 2.23194 0.892454 2.08147C1.04248 1.93144 1.22322 1.85643 1.43468 1.85643H6.0423V1.08849C6.0423 0.877032 6.11753 0.696066 6.268 0.545595C6.41803 0.395569 6.59877 0.320557 6.81023 0.320557C7.02169 0.320557 7.20266 0.395569 7.35313 0.545595C7.50315 0.696066 7.57817 0.877032 7.57817 1.08849V1.85643H12.1858C12.3972 1.85643 12.5782 1.93144 12.7287 2.08147C12.8787 2.23194 12.9537 2.4129 12.9537 2.62436C12.9537 2.83582 12.8787 3.01657 12.7287 3.16659C12.5782 3.31706 12.3972 3.3923 12.1858 3.3923H10.7501C10.483 4.29379 10.1157 5.17012 9.64825 6.02131C9.18082 6.87294 8.61321 7.67715 7.94544 8.43396L9.78181 10.3371L9.2142 11.9064L6.81023 9.53578L3.52146 12.8245C3.28775 13.0583 3.04846 13.164 2.80361 13.1417C2.55876 13.1195 2.43634 13.0082 2.43634 12.8079C2.29166 12.652 2.21931 12.4713 2.21931 12.2656C2.21931 12.0595 2.29166 11.8841 2.43634 11.7394L5.77519 8.40057C5.4413 8.01104 5.13257 7.61305 4.84899 7.2066C4.56497 6.8006 4.30609 6.38613 4.07237 5.96321C3.91656 5.68497 3.90543 5.4428 4.03899 5.23668C4.17254 5.03101 4.40626 4.92817 4.74014 4.92817C4.86257 4.92817 4.98499 4.96423 5.10742 5.03635C5.22984 5.10891 5.31888 5.20084 5.37453 5.31214Z" fill="#FCFCFC"/>
              </svg>

              <span> Change Language  </span>
            </div>
            <div class="settings-bar-arrow">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.700048 11.3C0.516715 11.1167 0.425049 10.8834 0.425049 10.6C0.425049 10.3167 0.516715 10.0834 0.700048 9.90005L4.60005 6.00005L0.700048 2.10005C0.516715 1.91672 0.425049 1.68338 0.425049 1.40005C0.425049 1.11672 0.516715 0.883382 0.700048 0.700048C0.883382 0.516715 1.11671 0.425049 1.40005 0.425049C1.68338 0.425049 1.91672 0.516715 2.10005 0.700048L6.70005 5.30005C6.80005 5.40005 6.87105 5.50838 6.91305 5.62505C6.95438 5.74172 6.97505 5.86672 6.97505 6.00005C6.97505 6.13338 6.95438 6.25838 6.91305 6.37505C6.87105 6.49172 6.80005 6.60005 6.70005 6.70005L2.10005 11.3C1.91672 11.4834 1.68338 11.575 1.40005 11.575C1.11671 11.575 0.883382 11.4834 0.700048 11.3Z" fill="#7A6B81"/>
              </svg>

            </div>
          </div>
        </div>
        <div class="settings-bar-item">
          <div class="container">
            <div class="settings-bar-name">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.0001 2.85721C7.63314 2.85721 5.71436 4.776 5.71436 7.14293V12.8572C5.71436 13.2517 5.39456 13.5715 5.00007 13.5715H2.85721C1.67374 13.5715 0.714355 12.6121 0.714355 11.4286V8.5715C0.714355 7.38803 1.67374 6.42864 2.85721 6.42864H3.61073C3.96606 3.21438 6.6911 0.714355 10.0001 0.714355C13.309 0.714355 16.0341 3.21438 16.3894 6.42864H17.1429C18.3264 6.42864 19.2858 7.38803 19.2858 8.5715V11.4286C19.2858 12.6121 18.3264 13.5715 17.1429 13.5715H16.4286V14.2858C16.4286 16.1178 15.1756 17.6545 13.4814 18.0905C13.4335 18.1029 13.3855 18.1118 13.3376 18.1174C12.9829 18.8109 12.2612 19.2858 11.4286 19.2858H8.5715C7.38803 19.2858 6.42864 18.3264 6.42864 17.1429C6.42864 15.9595 7.38803 15.0001 8.5715 15.0001H11.4286C12.1623 15.0001 12.8099 15.3688 13.1962 15.9311C13.837 15.6596 14.2858 15.0241 14.2858 14.2858V7.14293C14.2858 4.776 12.367 2.85721 10.0001 2.85721Z" fill="white"/>
              </svg>

              <span> Support  </span>
            </div>
            <div class="settings-bar-arrow">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.700048 11.3C0.516715 11.1167 0.425049 10.8834 0.425049 10.6C0.425049 10.3167 0.516715 10.0834 0.700048 9.90005L4.60005 6.00005L0.700048 2.10005C0.516715 1.91672 0.425049 1.68338 0.425049 1.40005C0.425049 1.11672 0.516715 0.883382 0.700048 0.700048C0.883382 0.516715 1.11671 0.425049 1.40005 0.425049C1.68338 0.425049 1.91672 0.516715 2.10005 0.700048L6.70005 5.30005C6.80005 5.40005 6.87105 5.50838 6.91305 5.62505C6.95438 5.74172 6.97505 5.86672 6.97505 6.00005C6.97505 6.13338 6.95438 6.25838 6.91305 6.37505C6.87105 6.49172 6.80005 6.60005 6.70005 6.70005L2.10005 11.3C1.91672 11.4834 1.68338 11.575 1.40005 11.575C1.11671 11.575 0.883382 11.4834 0.700048 11.3Z" fill="#7A6B81"/>
              </svg>

            </div>
          </div>
        </div>
        <div class="settings-bar-item">
          <div class="container">
            <div class="settings-bar-name">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.93851 0.984616L7.27696 2.69231L5.00005 3.98461L3.18466 3.70769C2.88238 3.66666 2.57472 3.71643 2.30079 3.85066C2.02685 3.98489 1.79901 4.19751 1.64621 4.46154L1.03082 5.53846C0.873125 5.80669 0.800473 6.11643 0.822445 6.4268C0.84442 6.73717 0.959985 7.03359 1.15389 7.27693L2.30774 8.70769V11.2923L1.18466 12.7231C0.990754 12.9664 0.875188 13.2628 0.853215 13.5732C0.831243 13.8836 0.903895 14.1933 1.06159 14.4616L1.67696 15.5384C1.82978 15.8024 2.05762 16.0151 2.33156 16.1493C2.60549 16.2836 2.91315 16.3333 3.21544 16.2923L5.03082 16.0154L7.27696 17.3077L7.93851 19.0154C8.05008 19.3046 8.24636 19.5533 8.50166 19.7289C8.75696 19.9046 9.05936 19.9991 9.36928 20H10.6616C10.9715 19.9991 11.2739 19.9046 11.5292 19.7289C11.7845 19.5533 11.9808 19.3046 12.0924 19.0154L12.7539 17.3077L15 16.0154L16.8155 16.2923C17.1178 16.3333 17.4253 16.2836 17.6993 16.1493C17.9732 16.0151 18.201 15.8024 18.3539 15.5384L18.9693 14.4616C19.127 14.1933 19.1996 13.8836 19.1776 13.5732C19.1556 13.2628 19.0402 12.9664 18.8462 12.7231L17.6923 11.2923V8.70769L18.8155 7.27693C19.0093 7.03359 19.1249 6.73717 19.1469 6.4268C19.1689 6.11643 19.0962 5.80669 18.9385 5.53846L18.3232 4.46154C18.1703 4.19751 17.9425 3.98489 17.6686 3.85066C17.3946 3.71643 17.0869 3.66666 16.7846 3.70769L14.9693 3.98461L12.7231 2.69231L12.0616 0.984616C11.95 0.695483 11.7537 0.446786 11.4984 0.271096C11.2431 0.095406 10.9407 0.000915471 10.6308 0H9.36928C9.05936 0.000915471 8.75696 0.095406 8.50166 0.271096C8.24636 0.446786 8.05008 0.695483 7.93851 0.984616ZM10 11.7857C8.27911 11.7857 6.73586 12.5465 5.68825 13.75C6.73586 14.9536 8.27911 15.7143 10 15.7143C11.721 15.7143 13.2642 14.9536 14.3119 13.75C13.2642 12.5465 11.721 11.7857 10 11.7857ZM10 10.3571C11.1835 10.3571 12.1429 9.39776 12.1429 8.21428C12.1429 7.03081 11.1835 6.07143 10 6.07143C8.81658 6.07143 7.85718 7.03081 7.85718 8.21428C7.85718 9.39776 8.81658 10.3571 10 10.3571Z" fill="white"/>
              </svg>

              <span> Privacy Policy  </span>
            </div>
            <div class="settings-bar-arrow">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.700048 11.3C0.516715 11.1167 0.425049 10.8834 0.425049 10.6C0.425049 10.3167 0.516715 10.0834 0.700048 9.90005L4.60005 6.00005L0.700048 2.10005C0.516715 1.91672 0.425049 1.68338 0.425049 1.40005C0.425049 1.11672 0.516715 0.883382 0.700048 0.700048C0.883382 0.516715 1.11671 0.425049 1.40005 0.425049C1.68338 0.425049 1.91672 0.516715 2.10005 0.700048L6.70005 5.30005C6.80005 5.40005 6.87105 5.50838 6.91305 5.62505C6.95438 5.74172 6.97505 5.86672 6.97505 6.00005C6.97505 6.13338 6.95438 6.25838 6.91305 6.37505C6.87105 6.49172 6.80005 6.60005 6.70005 6.70005L2.10005 11.3C1.91672 11.4834 1.68338 11.575 1.40005 11.575C1.11671 11.575 0.883382 11.4834 0.700048 11.3Z" fill="#7A6B81"/>
              </svg>

            </div>
          </div>
        </div>
        <div class="settings-bar-item">
          <div class="container">
            <div class="settings-bar-name">
              <svg width="18" height="20" viewBox="0 0 18 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M6.4999 0C5.90817 0 5.42847 0.479694 5.42847 1.07143C5.42847 1.66316 5.90817 2.14286 6.4999 2.14286H15.0713C15.166 2.14286 15.2569 2.18049 15.3239 2.24746C15.3909 2.31444 15.4285 2.40529 15.4285 2.5V15.3571C15.4285 15.9489 15.9082 16.4286 16.4999 16.4286C17.0916 16.4286 17.5713 15.9489 17.5713 15.3571V2.5C17.5713 1.83696 17.3079 1.20107 16.839 0.732233C16.3702 0.263393 15.7343 0 15.0713 0H6.4999ZM2.57132 3.57143C1.38785 3.57143 0.428467 4.53081 0.428467 5.71429V17.8571C0.428467 19.0406 1.38785 20 2.57132 20H11.857C13.0405 20 13.9999 19.0406 13.9999 17.8571V5.71429C13.9999 4.53081 13.0405 3.57143 11.857 3.57143H2.57132ZM3.9999 7.67857C3.50678 7.67857 3.10704 8.07831 3.10704 8.57143C3.10704 9.06454 3.50678 9.46428 3.9999 9.46428H10.4285C10.9216 9.46428 11.3213 9.06454 11.3213 8.57143C11.3213 8.07831 10.9216 7.67857 10.4285 7.67857H3.9999ZM3.9999 11.9643C3.50678 11.9643 3.10704 12.364 3.10704 12.8571C3.10704 13.3503 3.50678 13.75 3.9999 13.75H7.57132C8.06444 13.75 8.46418 13.3503 8.46418 12.8571C8.46418 12.364 8.06444 11.9643 7.57132 11.9643H3.9999Z" fill="white"/>
              </svg>

              <span> Terms of Use  </span>
            </div>
            <div class="settings-bar-arrow">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.700048 11.3C0.516715 11.1167 0.425049 10.8834 0.425049 10.6C0.425049 10.3167 0.516715 10.0834 0.700048 9.90005L4.60005 6.00005L0.700048 2.10005C0.516715 1.91672 0.425049 1.68338 0.425049 1.40005C0.425049 1.11672 0.516715 0.883382 0.700048 0.700048C0.883382 0.516715 1.11671 0.425049 1.40005 0.425049C1.68338 0.425049 1.91672 0.516715 2.10005 0.700048L6.70005 5.30005C6.80005 5.40005 6.87105 5.50838 6.91305 5.62505C6.95438 5.74172 6.97505 5.86672 6.97505 6.00005C6.97505 6.13338 6.95438 6.25838 6.91305 6.37505C6.87105 6.49172 6.80005 6.60005 6.70005 6.70005L2.10005 11.3C1.91672 11.4834 1.68338 11.575 1.40005 11.575C1.11671 11.575 0.883382 11.4834 0.700048 11.3Z" fill="#7A6B81"/>
              </svg>

            </div>
          </div>
        </div>
        <div class="settings-bar-item">
          <div class="container">
            <router-link to="/rate">
            <div class="settings-bar-name">
              <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.72454 0.442136C7.12688 0.545736 8.58801 1.23891 9.98882 2.63849C11.391 1.24299 12.8555 0.554007 14.2611 0.453079C15.8478 0.339149 17.2495 0.983565 18.2608 1.99999C20.2501 3.99948 20.8563 7.61305 18.3471 10.0904L18.3305 10.1062L10.4732 17.3812C10.1994 17.6348 9.77651 17.6348 9.50266 17.3812L1.64529 10.1062C1.63808 10.0996 1.63102 10.0928 1.62409 10.0858C-0.848588 7.59942 -0.244972 3.98584 1.73611 1.98631C2.74372 0.969307 4.14084 0.325139 5.72454 0.442136Z" fill="white"/>
              </svg>

              <span> Rate Us  </span>
            </div>
            </router-link>
            <div class="settings-bar-arrow">
              <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.700048 11.3C0.516715 11.1167 0.425049 10.8834 0.425049 10.6C0.425049 10.3167 0.516715 10.0834 0.700048 9.90005L4.60005 6.00005L0.700048 2.10005C0.516715 1.91672 0.425049 1.68338 0.425049 1.40005C0.425049 1.11672 0.516715 0.883382 0.700048 0.700048C0.883382 0.516715 1.11671 0.425049 1.40005 0.425049C1.68338 0.425049 1.91672 0.516715 2.10005 0.700048L6.70005 5.30005C6.80005 5.40005 6.87105 5.50838 6.91305 5.62505C6.95438 5.74172 6.97505 5.86672 6.97505 6.00005C6.97505 6.13338 6.95438 6.25838 6.91305 6.37505C6.87105 6.49172 6.80005 6.60005 6.70005 6.70005L2.10005 11.3C1.91672 11.4834 1.68338 11.575 1.40005 11.575C1.11671 11.575 0.883382 11.4834 0.700048 11.3Z" fill="#7A6B81"/>
              </svg>

            </div>
          </div>
        </div>

      </div>
    </div>
<div class="log-out">
  <div class="container">
  <div class="settings-bar-item-log-out" @click="unlinkAccount()">
    <div class="container">
      <div class="settings-bar-name">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.7708 11.5625C10.6181 11.3819 10.5417 11.1769 10.5417 10.9475C10.5417 10.7186 10.6181 10.5278 10.7708 10.375L12.3125 8.83333H6.33333C6.09722 8.83333 5.89944 8.75333 5.74 8.59333C5.58 8.43389 5.5 8.23611 5.5 8C5.5 7.76389 5.58 7.56583 5.74 7.40583C5.89944 7.24639 6.09722 7.16667 6.33333 7.16667H12.3125L10.7708 5.625C10.6042 5.45833 10.5208 5.26056 10.5208 5.03167C10.5208 4.80222 10.6042 4.60417 10.7708 4.4375C10.9236 4.27083 11.1147 4.1875 11.3442 4.1875C11.5731 4.1875 11.7639 4.26389 11.9167 4.41667L14.9167 7.41667C15 7.5 15.0592 7.59028 15.0942 7.6875C15.1286 7.78472 15.1458 7.88889 15.1458 8C15.1458 8.11111 15.1286 8.21528 15.0942 8.3125C15.0592 8.40972 15 8.5 14.9167 8.58333L11.9167 11.5833C11.7361 11.7639 11.5383 11.8436 11.3233 11.8225C11.1078 11.8019 10.9236 11.7153 10.7708 11.5625ZM2.16667 15.5C1.70833 15.5 1.31583 15.3369 0.989167 15.0108C0.663055 14.6842 0.5 14.2917 0.5 13.8333V2.16667C0.5 1.70833 0.663055 1.31583 0.989167 0.989167C1.31583 0.663055 1.70833 0.5 2.16667 0.5H7.16667C7.40278 0.5 7.60083 0.579722 7.76083 0.739167C7.92028 0.899167 8 1.09722 8 1.33333C8 1.56944 7.92028 1.76722 7.76083 1.92667C7.60083 2.08667 7.40278 2.16667 7.16667 2.16667H2.16667V13.8333H7.16667C7.40278 13.8333 7.60083 13.9133 7.76083 14.0733C7.92028 14.2328 8 14.4306 8 14.6667C8 14.9028 7.92028 15.1006 7.76083 15.26C7.60083 15.42 7.40278 15.5 7.16667 15.5H2.16667Z" fill="#FCFCFC"/>
        </svg>

        <span> Unlink Account </span>
      </div>
      <div class="settings-bar-arrow">
        <svg width="7" height="12" viewBox="0 0 7 12" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.700048 11.3C0.516715 11.1167 0.425049 10.8834 0.425049 10.6C0.425049 10.3167 0.516715 10.0834 0.700048 9.90005L4.60005 6.00005L0.700048 2.10005C0.516715 1.91672 0.425049 1.68338 0.425049 1.40005C0.425049 1.11672 0.516715 0.883382 0.700048 0.700048C0.883382 0.516715 1.11671 0.425049 1.40005 0.425049C1.68338 0.425049 1.91672 0.516715 2.10005 0.700048L6.70005 5.30005C6.80005 5.40005 6.87105 5.50838 6.91305 5.62505C6.95438 5.74172 6.97505 5.86672 6.97505 6.00005C6.97505 6.13338 6.95438 6.25838 6.91305 6.37505C6.87105 6.49172 6.80005 6.60005 6.70005 6.70005L2.10005 11.3C1.91672 11.4834 1.68338 11.575 1.40005 11.575C1.11671 11.575 0.883382 11.4834 0.700048 11.3Z" fill="#7A6B81"/>
        </svg>
      </div>
    </div>
  </div>
</div>
</div>
    <div class="version-info">
      <span class="version"> deviceId: {{user.device_id}} </span>
      <span class="purchase"> Restore Purchases </span>
    </div>
    <Navbar></Navbar>
  </div>
</div>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import {useProdStore} from "@/store/base";

export default {
  name: "Settings",
  components: {Navbar},
  data() {
    return {
      accountInfo: null,
      user: null
    }
  },

  async created() {
    this.accountInfo = this.getAccountInfo;
    this.user = this.getUser;

    console.log(this.user)
  },
  methods: {
    async unlinkAccount() {

      console.log('unlink account')
      await useProdStore().unlink()

    }
  }
}
</script>

<style lang="scss">



</style>
