<template>
  <div class="content page">
    <div class="header">
      <div class="container">
        <div class="header-top">
          <div class="header-top-main-title">
            <span>Welcome to Chatopia</span>
          </div>
          <div class="header-top-description">
            <span>Please type your phone number to continue.</span>
          </div>
        </div>
      </div>
    </div>
    <div class="welcome-number-input">
      <div class="container">
        <div class="number-input-wrapper">
          <NumberSelect
            v-model="phoneNumber"
            @codeChanged="handleCodeChanged"
            @numberChanged="handleNumberChanged"
          />
        </div>
      </div>
    </div>
    <div class="learn-more" v-if="showLearnMore">
      <div class="container">
        <div class="learn-more-information">
          <svg width="44" height="44" viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg">npm
            <rect width="44" height="44" rx="22" fill="#AD38E5" fill-opacity="0.3"/>
            <g clip-path="url(#clip0_2172_29586)">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10.8572 15.4285C10.8572 14.0084 12.0084 12.8571 13.4286 12.8571H30.5715C31.9916 12.8571 33.1429 14.0084 33.1429 15.4285V20.015C33.1429 26.8588 28.7636 32.9347 22.2711 35.0988C22.0951 35.1576 21.9049 35.1576 21.729 35.0988C15.2364 32.9347 10.8572 26.8588 10.8572 20.015V15.4285ZM28.1039 19.7113C28.5755 19.1806 28.5279 18.3679 27.9971 17.8962C27.4664 17.4244 26.6537 17.4722 26.1819 18.003L20.1108 24.833L17.6286 22.9714C17.0605 22.5454 16.2547 22.6605 15.8286 23.2286C15.4026 23.7966 15.5177 24.6025 16.0857 25.0286L19.5143 27.6C20.0493 28.0012 20.8025 27.9254 21.2467 27.4256L28.1039 19.7113Z" fill="white"/>
            </g>
            <defs>
              <clipPath id="clip0_2172_29586">
                <rect width="24" height="24" fill="white" transform="translate(10 12)"/>
              </clipPath>
            </defs>
          </svg>

          <div class="learn-more-text">
            <span class="learn-more-text-description">Your data is 100% protected & secure while using Chatopia.</span>
            <span class="learn-more-button">Learn More</span>
          </div>
        </div>
      </div>
    </div>
    <div class="continue-button" v-if="showContinueButton" @click="connectDevice">
      <div class="container">
        <div class="button">
          <span>{{continueButtonText}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
</style>


<script>
import NumberSelect from "@/components/NumberSelect.vue";
import { useProdStore } from "@/store/base";
import router from "@/router/index.js";

export default {
  data() {
    return {
      phoneNumber:'',
      showContinueButton: false,
      loadingMode: false,
    };
  },
  computed: {
    showLearnMore() {
      return !this.showContinueButton
    },

    continueButtonText() {
      return this.loadingMode ? 'Connecting...' : 'Continue'
    }

  },
  components: {
    NumberSelect,
  },
  mounted() {
  },
  methods: {
    handleCodeChanged(value) {
      this.phoneNumber = value.code + value.number;
      this.showContinueButton = value.isValid
    },
    handleNumberChanged(value) {
      this.phoneNumber = value.code + value.number;
      this.showContinueButton = value.isValid
    },
    async connectDevice() {
      if (this.loadingMode) return;

      this.loadingMode = true;

      const connectDeviceResult = await useProdStore().connectDevice({
        phone_number: this.phoneNumber.replace('+', '')
      });

      if (connectDeviceResult && connectDeviceResult?.fe_status === 'code_mode') {
        await router.push({ name: 'access' });
        return;
      }

      if (!this.getSilentMode) {
        let retryCount = 0;
        const maxRetries = 10;
        const retryInterval = 1500;

        const checkStatus = async () => {
          const connectDeviceResult = await useProdStore().connectDevice({
            phone_number: this.phoneNumber.replace('+', '')
          });

          if (connectDeviceResult && connectDeviceResult?.fe_status === 'code_mode') {
            await router.push({ name: 'access' });
          } else {
            retryCount++;
            if (retryCount <= maxRetries) {
              setTimeout(checkStatus, retryInterval);
            } else {
              console.error('Bağlantı sağlanamadı. Lütfen tekrar deneyin.');
              this.loadingMode = false;
            }
          }
        };

        setTimeout(checkStatus, 3000);
      }
    }
  },

};
</script>
