<template>
  <div class="chats-updates-items">
    <div v-for="statusItem in getStatus" :key="statusItem.name" class="updates-item" @click="selectedPoofStories(statusItem)">
      <div class="image-border">
      <img class="updates-item-img" :src="imageChecker(statusItem.profilePic)" alt="Person Image">
        <img class="updates-item-arrow-img" src="../assets/img/down-arrow.png">
      </div>
      <span>{{ statusItem.name }}</span>
    </div>
  </div>
</template>

<script>
import {useProdStore} from "@/store/base.js";
import router from "@/router/index.js";

export default {
  name: "UpdatesItem",
  data() {
    return {
      status: [],
    };
  },
  created() {
    console.log(this.getStatus)
  },
  methods: {
    imageChecker(image) {
      if (image) {
        return image;
      } else {
        return "https://uxwing.com/wp-content/themes/uxwing/download/peoples-avatars/no-profile-picture-icon.png";
      }
    },


  }
}
</script>

<style lang="scss">

</style>
