<template>
  <router-view />
  <TLoading v-if="isAppLoading" />
</template>

<script>
import { useProdStore } from "./store/base";
export default {
  name: "App",
  components: {
  },
  created() {
    let deviceInfo = useProdStore().deviceInfo;
    if (deviceInfo || deviceInfo.language) {
      //this.$i18n.locale = useProdStore().deviceInfo?.language;
    }
  },
};
</script>
