

@font-face {
  font-family: 'Inter-Black';
  src: url('./Inter-Black.ttf') format('truetype');

}
@font-face {
  font-family: 'Inter-Bold';
  src: url('./Inter-Bold.ttf') format('truetype');

}

@font-face {
  font-family: 'Inter-Medium';
  src: url('./Inter-Medium.ttf') format('truetype');

}

@font-face {
  font-family: 'Inter-Regular';
  src: url('./Inter-Regular.ttf') format('truetype');

}
@font-face {
  font-family: 'Inter-SemiBold';
  src: url('./Inter-SemiBold.ttf') format('truetype');

}

@font-face {
  font-family: 'Inter-ExtraBold';
  src: url('./Inter-ExtraBold.ttf') format('truetype');

}